<!DOCTYPE html>
<html>
    <head>
        <title>Classrooms · Schemester</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3" id='themecolor'>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <!-- <script src="/script/admin/schedule.js"></script> -->
    </head>
    
    <body>
        <div id="topBar">
            <img class="circle-button"  src="/graphic/leftArrow.svg" width="40" id="back" onclick="window.history.back()">
            <span id="greeting">Classes of <%= defaults.institute.instituteName %> </span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader" alt="Loader"/>
            <input type="text" class="searcher fmt-right" name="search">
        </div>
        <div class="fmt-row fmt-padding-small" style="margin-top: 72px;">
            <div class="fmt-row fmt-padding-small">
                <div class="sub-heading fmt-col half positive">
                    <%= classes.length %> classes
                </div>
                <div class="fmt-col half">
                    <button class="fmt-right positive-button">Add class</button>
                    <input type="search" class=" searcher b-positive fmt-right" name="search">
                </div>
            </div>
            <div class="fmt-row">
            <% classes.forEach((Class)=> {%>
                <div class="fmt-col fmt-third fmt-padding">
                    <div class="fmt-col container fmt-padding">
                        <div class="fmt-row positive group-heading fmt-left">
                            <%= Class.classname %>
                        </div>
                        <div class="fmt-row questrial positive caption" style="text-align:left">
                            <%= Class.students.length %> students
                        </div>
                        <div class="fmt-row questrial caption break" style="text-align:left">
                            <% if(Class.inchargeID){ %>
                                Incharge <a onclick="refer(locate.admin.session,{target:locate.admin.target.viewschedule })"><%= Class.inchargeID %></a>
                            <%} else {%>
                                <a class="active">Set incharge</a>
                            <%}%>
                        </div>
                    </div>
                </div>
            <%})%>
            </div>
        </div>
        <div id="dialogView" class="dialog fmt-animate-opacity">
            <div class="dialog-box container fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">            
            </div>
        </div>
        <div id="snackBar" class="fmt-animate-bottom">
            <span id="snackText"></span>
            <button id="snackButton"></button>
        </div>
        <noscript id="noscript" class="dialog fmt-red" style="display:block">
            <div class="dialog-box container fmt-center fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">
                <div class="heading">Javascript required</div><br/>
                <div class="group-text fmt-center">Please enable javascript in your browser, or allow this site to use, if denied.
                    <br/>If your browser doesn't support javascript, try a <a target="_blank" rel="noreferrer" href="https://google.com/search?q=modern+browsers">modern browser</a>.
                </div>
            </div>
        </noscript>
    </body>
</html>