<!DOCTYPE html>
<html>
    <title>Registration · Schemester</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" id="viewportTag">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3" id='themecolor'>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel="stylesheet" href="/css/fmt.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/switch.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script async type="text/javascript" src="/script/main.js"></script>
        <script async type="text/javascript" src="/script/admin/register.js"></script>
        <script src="/script/admin/admin.js"></script>
    </head>
    <body>
        <div id="topBar">
            <img src="/graphic/icons/schemester512.svg" width="40" alt="Schemester icon" onclick="refer(locate.root)">
            <span id="greeting"></span>
            <span class="fmt-dropdown-hover fmt-right">
                <img src="/graphic/menudotsvertical.svg" id="menuButton">
                <span  class="menu fmt-right">
                    <button  class="positive-button-togg"  id="settingsmenubutton"><img src="/graphic/menudotsvertical.svg" width="25"></button>
                    <div class="menubox" id="settingsmenu">
                        <span class="fmt-row fmt-center">
                            <label class="switch-container ">
                                <input type="checkbox" id="darkmode">
                                <span class="switch-positive"></span>
                            </label>
                        </span>
                        <div class="negative" id="logoutAdminButton" onclick="finishSession()">
                            ❌ Logout
                        </div>
                    </div>
                </span >
            </span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader" alt="Loader"/>
            <input type="text" class="searcher fmt-right" name="search">
        </div>
        <div class="fmt-padding-small" style="margin: 66px 0 44px 0;">
            <div class="container fmt-row " id="stage1">
                <span class="heading" id="s1head">Basic</span>
                <br/>
                <!--Admin details-->
                <div class="fmt-row">
                <div class="group-heading" id="adminHead">Administrator</div>
                <div class="fmt-col">
                    <div class="fmt-row">
                        <fieldset class="text-field-active" id="adminNameField">
                            <legend class="field-caption">Name visible to people of your institution</legend>
                            <span style="font-size: 24px;" id="adminNameView"><%= adata.username %> </span>
                            <!-- <input class="text-input" required autocomplete="name"  placeholder="Miss/Mrs/Mr/Dr." type="text" id="adminName" name="adminDetails"> -->
                            <span class="fmt-right error-caption"  id="adminNameError"></span>
                        </fieldset>
                    </div>
                </div>
                <div class="fmt-half">
                    <fieldset class="fmt-col text-field-active" id="emailField">
                        <legend class="field-caption">Email Address</legend>
                        <span style="font-size: 24px;" id="adminEmailView"><%= adata.id %></span>
                    </fieldset>
                </div>
                <div class="fmt-half fmt-padding-small">
                    <div class="fmt-row">
                        <fieldset class="text-field fmt-right" id="adminPhoneField">
                            <legend class="field-caption">Your contact number</legend>
                            <input class="text-input" required autocomplete="tel" placeholder="XXXXXXXXXX" type="tel" id="adminPhone" name="adminDetails"  value="<%= inst?inst.default?inst.default.admin.phone:null:null %>">
                            <span class="fmt-right error-caption"  id="adminPhoneError"></span><!-- add break in span -->
                        </fieldset>
                    </div>
                </div>
                </div>
                <br/>
                <!--institution-->
                <div class="fmt-row">
                    <div class="group-heading" id="instHead">Institution</div>
                    <div class="fmt-col fmt-half">
                        <div class="fmt-row">
                            <fieldset class="text-field" id="instNameField">
                                <legend class="field-caption">Proper name of Institution</legend>
                                <input class="text-input" required spellcheck="false" autocomplete="organization" placeholder="Don't include address with name" type="text" id="instName" name="instDetails" value="<%= inst?inst.default?inst.default.institute.instituteName:null:null %>">
                                <span class="fmt-right error-caption"  id="instNameError"></span>
                            </fieldset>
                        </div>
                        <div class="fmt-row">
                            <fieldset class="text-field-active" id="uiidField">
                                <legend class="field-caption">UIID Permanent</legend>
                                <span style="font-size: 24px;" id="uiidView"><%= adata.uiid %></span>
                                <!-- <input class="text-input" required spellcheck="false"  placeholder="Unique institution ID" type="text" id="uiid" name="instDetails" > -->
                                <span class="fmt-right error-caption"  id="uiidError"></span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="fmt-col fmt-half">
                        <div class="fmt-row">
                            <fieldset class="text-field" id="instEmailField">
                                <legend class="field-caption">Institution Email address</legend>
                                <input class="text-input" required placeholder="institute@example.domain" type="email" id="instEmail" name="instDetails" value="<%= inst?inst.default?inst.default.institute.email:null:null %>">
                                 
                                <span class="fmt-right error-caption"  id="instEmailError"></span>
                            </fieldset>
                        </div>
                        <div class="fmt-row">
                            <fieldset class="text-field fmt-right" id="instPhoneField">
                                <legend class="field-caption">Telephone Number</legend>
                                <input class="text-input" required autocomplete="tel-extension" placeholder="XXXXXXX" type="tel" id="instPhone" name="instDetails" value="<%= inst?inst.default?inst.default.institute.phone:null:null %>">
                                 
                                <span class="fmt-right error-caption"  id="instPhoneError"></span>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="fmt-row fmt-center">
                    <img class="fmt-spin-fast" width="50" src="/graphic/blueLoader.svg" id="stage1loader"/>
                    <button class="positive-button fmt-center" id="saveStage1">Save &amp; Continue</button>
                </div>
            </div>

            <div class="container" id="stage2">
                <span class="heading" id="s2head">Schedule</span>
                <br/>
                <div class="fmt-row fmt-padding">
                    <div class="group-heading" id="timeHead">Timings</div>
                    <div class="fmt-half">
                        <fieldset class="text-field" id="startTimeField">
                            <legend class="field-caption">Schedule starts at</legend>
                            <input class="text-input" required type="time" id="startTime" name="timeDetail"  value="<%= inst?inst.default?inst.default.timings?inst.default.timings.startTime:null:null:null %>">
                            <span class="fmt-right error-caption"  id="startTimeError"></span>
                        </fieldset>
                        <fieldset class="text-field" id="breakStartField">
                            <legend class="field-caption">Break starts at</legend>
                            <input class="text-input" required type="time" id="breakStart" name="timeDetail" value="<%= inst?inst.default?inst.default.timings?inst.default.timings.breakStartTime:null:null:null %>">
                            <span class="fmt-right error-caption"  id="breakStartError"></span>
                        </fieldset>
                    </div>
                    <div class="fmt-half">
                        <fieldset class="text-field" id="workingdaysfield">
                            <legend class="field-caption">Select working days</legend>
                            <div id="dayselector">
                            </div>
                            <span class="fmt-right error-caption" id="workingdayserror"></span>
                        </fieldset>
                    </div>
                </div>
                <div class="fmt-row fmt-padding" >
                    <div class="group-heading" id="durationHead">Durations</div>
                    <div class="fmt-half">
                        <fieldset class="text-field" id="eachDurationField">
                            <legend class="field-caption">Duration of each period</legend>
                            <input class="text-input" required placeholder="In minutes" min="1" type="number" id="eachDuration" name="durationDetail"  value="<%= inst?inst.default?inst.default.timings?inst.default.timings.periodMinutes:null:null:null %>">
                            <span class="fmt-right error-caption"  id="eachDurationError"></span>
                        </fieldset>
                        <fieldset class="text-field" id="breakDurationField">
                            <legend class="field-caption">Break Duration</legend>
                            <input class="text-input" required placeholder="In minutes" min="1" type="number" id="breakDuration" name="durationDetail" value="<%= inst?inst.default?inst.default.timings?inst.default.timings.breakMinutes:null:null:null %>">
                             
                            <span class="fmt-right error-caption"  id="breakDurationError"></span>
                        </fieldset>
                    </div>
                    <div class="fmt-half fmt-row">
                        <fieldset class="text-field" id="totalPeriodsField">
                            <legend class="field-caption">Total Periods in a day</legend>
                            <input class="text-input" required placeholder="A number" min="1" type="number" id="totalPeriods" name="durationDetail" value="<%= inst?inst.default?inst.default.timings?inst.default.timings.periodsInDay:null:null:null %>">
                            
                            <span class="fmt-right error-caption"  id="totalPeriodsError"></span>
                        </fieldset>
                    </div>
                </div>
                <br/>
                <div class="fmt-row fmt-center">
                    <img class="fmt-spin-fast" style="display:none" width="50" src="/graphic/blueLoader.svg" id="stage2load"/>
                    <button class="positive-button" id="saveStage2">Create schedule</button>
                </div>
            </div>
        </div>
        <div id="dialogView" class="dialog fmt-animate-opacity">
            <div class="dialog-box container fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">            
            </div>
        </div>
        <div id="snackBar" class="fmt-animate-bottom">
            <span id="snackText"></span>
            <button id="snackButton"></button>
        </div>
    </body>
</html>