<!DOCTYPE html>
<html>
    <title>Management · Admin · Schemester</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3" id='themecolor'>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/switch.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/admin/management.js"></script>
        <script src="/script/admin/admin.js"></script>
        <script async defer src="/script/qrcode.js"></script>
    </head>
    <%countObjects = function(object){
        let i = 0;
        for(let key in object){
            i++;
        }
        return i;
    };
    isEmptyObject = function(object){
        for(let key in object){return false;}
        return true;
    }%>
    <body >
        <div id="topBar">
            <img class="circle-button"  src="/graphic/leftArrow.svg" width="40" id="backFromSettings">
            <span>Settings</span>
            <span  class="menu fmt-right">
                <button  class="positive-button-togg"  id="settingsmenubutton"><img src="/graphic/menudotsvertical.svg" width="25"></button>
                <div class="menubox" id="settingsmenu">
                    <div class="negative" id="logoutAdmin">
                        ❌ Logout
                    </div>
                </div>
            </span >
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader" alt="Loader"/>
            <input type="text" class="searcher fmt-right" name="search">
        </div>
        <div class="fmt-row fmt-padding-small" style="margin-top: 72px;">
            <div class="container">
                <span class="heading">Settings</span>
                <label class="switch-container">
                    <input type="checkbox" id="darkmode">
                    <span class="switch-positive"></span>
                </label>
                <div class="fmt-row">
                    <!--Tabs on large screens-->
                    <div class="fmt-col fmt-hide-small leftTabGroup fmt-quarter" id="tabGroup">
                        <div class="leftTabButton" id="adminTab">
                            <img class="fmt-left fmt-padding-small" src="/graphic/icons/schemester128.png" width="40"/>
                            Administrator</div>
                        <div class="leftTabButton" id="institutionTab">
                            <img class="fmt-left fmt-padding-small" src="/graphic/icons/schemester128.png" width="40"/>
                            Institution Defaults</div>
                        <div class="leftTabButton" id="scheduleTab">
                            <img class="fmt-left fmt-padding-small" src="/graphic/icons/schemester128.png" width="40"/>
                            Schedule Details</div>
                        <div class="leftTabButton" id="usersTab">
                            <img class="fmt-left fmt-padding-small" src="/graphic/blueLoader.svg" width="40"/>
                            Manage users</div>
                        <div class="leftTabButton" id="securityTab">
                            <img class="fmt-left fmt-padding-small" src="/graphic/icons/schemester128.png" width="40"/>
                            Security Settings</div>
                        <div class="leftTabButton" id="aboutTab">
                            <img class="fmt-left fmt-padding-small" src="/graphic/icons/schemester128.png" width="40"/>
                            Schemester</div>
                    </div>
                    <!--Chips on small screens-->
                    <div class="fmt-hide-large fmt-hide-medium" id="mtabGroup">
                        <div class="fmt-padding-small"></div>
                        <label class="radio-container">
                            Admin<input type="radio" name="settingSelection" id="madminTab">
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio-container">
                            Institution<input type="radio" name="settingSelection" id="minstitutionTab">
                            <span class="checkmark"></span>
                        </label>
                        <br/>
                        <div class="fmt-padding-small"></div>
                        <label class="radio-container">
                            Schedule<input type="radio" name="settingSelection" id="mscheduleTab">
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio-container">
                            Users<input type="radio" name="settingSelection" id="musersTab">
                            <span class="checkmark"></span>
                        </label>
                        <div class="fmt-padding-small"></div>
                        <label class="radio-container">
                            Security<input type="radio" name="settingSelection" id="msecurityTab">       
                            <span class="checkmark"></span>
                        </label>
                        <label class="radio-container">
                            Schemester<input type="radio" name="settingSelection" id="maboutTab">
                            <span class="checkmark"></span>
                        </label>
                        <div class="fmt-padding-small"></div>
                    </div>

                    <div class="fmt-col fmt-threequarter tabContainerRight" id="settingsContainer">
                        <!--account settings box-->
                        <div class="fmt-row sub-container fmt-animate-opacity" id="accountSettingsBox">
                            <div class="fmt-col fmt-half">
                                <span class="sub-heading">Admin</span>
                                <div class="positive" id="adminName">
                                    <span class="caption">Admin name</span><br/>
                                    <span id="adminnameview"><%= adata.username %></span>
                                    <button class="neutral-button caption" id="editadminname"><img width="20" src="/graphic/elements/editicon.svg"/></button>
                                </div>
                                <div id="adminnameeditor">
                                    <fieldset style="margin:0" class="text-field questrial" id="adminnamefield">
                                        <legend class="field-caption">Your name</legend>
                                        <input class="text-input" style="font-size:18px" required value="<%= adata.username %>" placeholder="Visible to everyone at <%= inst.default.institute.instituteName %>" type="text" id="adminnameinput" name="adminname" >
                                        <span class="fmt-right error-caption"  id="adminnameerror"></span>
                                    </fieldset>
                                    <button class="positive-button caption" id="saveadminname">Save</button>
                                    <button class="negative-button caption" id="canceladminname">Cancel</button>
                                </div>

                                <div class="caption">Email address</div>
                                <div class="active" id="adminEmailAddress"><%= adata.id %></div>

                                <div class="positive" id="adminPhoneNumber">
                                    <span class="caption">Contact Number</span><br/>
                                    <span id="adminphoneview"><%= inst.default.admin.phone %></span>
                                    <button class="neutral-button caption" id="editadminphone"><img width="20" src="/graphic/elements/editicon.svg"/></button>
                                </div>
                                <div id="adminphoneeditor">
                                    <fieldset style="margin:0" class="text-field questrial" id="adminphonefield">
                                        <legend class="field-caption">Your phone</legend>
                                        <input class="text-input" style="font-size:18px" required value="<%= inst.default.admin.phone %>" placeholder="Available to teachers of <%= inst.default.institute.instituteName %>" type="text" id="adminphoneinput" name="adminname" >
                                        <span class="fmt-right error-caption"  id="adminphoneerror"></span>
                                    </fieldset>
                                    <button class="positive-button caption" id="saveadminphone">Save</button>
                                    <button class="negative-button caption" id="canceladminphone">Cancel</button>
                                </div>
                                <div class="caption">Account created at</div>
                                <div id="adminCreationTime"><%= adata.createdAt %></div>
                            </div>
                            <div class="fmt-col fmt-half">
                                <span class="sub-heading">Settings</span>
                                <div class="fmt-row switch-view caption" id="phonevisibilitycontainer">
                                    Show phone number to
                                    <div>
                                    <span class="fmt-left switch-text active" style="padding:0 4px">Teachers</span>
                                    <label class="fmt-left switch-container">
                                      <input type="checkbox" id="teacherphonevcheck"
                                        <% if(adata.prefs.showphonetoteacher){%>
                                            checked
                                        <% } %>
                                      >
                                      <span class="switch-active" id="teacherphonevcheckview"></span>
                                    </label>                                    
                                    <span class="fmt-left switch-text warning " style="padding:0 4px">Students</span>
                                    <label class="fmt-left switch-container">
                                      <input type="checkbox" id="studentphonevcheck"
                                        <% if(adata.prefs.showphonetostudent){%>
                                            checked
                                        <% } %>
                                      >
                                      <span class="switch-warning " id="studentphonevcheckview"></span>
                                    </label>
                                    </div>
                                </div>
                                <div class="fmt-row switch-view caption" id="mailvisibilitycontainer">
                                    Show email ID to
                                    <div>
                                    <span class="fmt-left switch-text active" style="padding:0 4px">Teachers</span>
                                    <label class="fmt-left switch-container">
                                      <input type="checkbox" id="teachermailvcheck" 
                                        <% if(adata.prefs.showemailtoteacher){%>
                                            checked
                                        <% } %>
                                        >
                                      <span class="switch-active" id="teachermailvcheckview"></span>
                                    </label>                                    
                                    <span class="fmt-left switch-text warning " style="padding:0 4px">Students</span>
                                    <label class="fmt-left switch-container">
                                      <input type="checkbox" id="studentmailvcheck"
                                      <% if(adata.prefs.showemailtostudent){%>
                                        checked
                                        <% } %>
                                      >
                                      <span class="switch-warning " id="studentmailvcheckview"></span>
                                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--institution settings box-->
                        <div class="sub-container fmt-row fmt-animate-opacity" id="institutionSettingsBox">
                            <div class="fmt-col fmt-half">
                                <span class="sub-heading">Basic</span>
                                <div class="positive" id="instituteName">
                                    <span class="caption">Display name</span><br/>
                                    <span id="institutenameview"><%= inst.default.institute.instituteName %></span>
                                    <button class="neutral-button caption" id="editinstitutename"><img width="20" src="/graphic/elements/editicon.svg"/></button>
                                </div>
                                <div id="institutenameeditor">
                                    <fieldset style="margin:0" class="text-field questrial" id="institutenamefield">
                                        <legend class="field-caption">Institute Name</legend>
                                        <input class="text-input" style="font-size:18px" required value="<%= inst.default.institute.instituteName %>" placeholder="Visible to people of your institution" type="text" id="institutenameinput" name="institutename" >
                                        <span class="fmt-right error-caption"  id="institutenameerror"></span>
                                    </fieldset>
                                    <button class="positive-button caption" id="saveinstitutename">Save</button>
                                    <button class="negative-button caption" id="cancelinstitutename">Cancel</button>
                                </div>

                                <div class="positive" id="instituteMail">
                                    <span class="caption">Email address</span><br/>
                                    <span id="institutemailview"><%= inst.default.institute.email %></span>
                                    <button class="neutral-button caption" id="editinstitutemail"><img width="20" src="/graphic/elements/editicon.svg"/></button>
                                </div>
                                <div id="institutemaileditor">
                                    <fieldset style="margin:0" class="text-field questrial" id="institutemailfield">
                                        <legend class="field-caption">Institute email address</legend>
                                        <input class="text-input" style="font-size:18px" required value="<%= inst.default.institute.email %>" placeholder="Visible to people of your institution" type="text" id="institutemailinput" name="institutemail" >
                                        <span class="fmt-right error-caption"  id="institutemailerror"></span>
                                    </fieldset>
                                    <button class="positive-button caption" id="saveinstitutemail">Save</button>
                                    <button class="negative-button caption" id="cancelinstitutemail">Cancel</button>
                                </div>

                                <div class="positive" id="institutePhone">
                                    <span class="caption">Phone number</span><br/>
                                    <span id="institutephoneview"><%= inst.default.institute.phone %></span>
                                    <button class="neutral-button caption" id="editinstitutephone"><img width="20" src="/graphic/elements/editicon.svg"/></button>
                                </div>
                                <div id="institutephoneeditor">
                                    <fieldset style="margin:0" class="text-field questrial" id="institutephonefield">
                                        <legend class="field-caption">Institute contact number</legend>
                                        <input class="text-input" style="font-size:18px" required value="<%= inst.default.institute.phone %>" placeholder="Visible to people of your institution" type="text" id="institutephoneinput" name="institutephone" >
                                        <span class="fmt-right error-caption"  id="institutephoneerror"></span>
                                    </fieldset>
                                    <button class="positive-button caption" id="saveinstitutephone">Save</button>
                                    <button class="negative-button caption" id="cancelinstitutephone">Cancel</button>
                                </div>

                                <span class="caption">UIID</span><br/>
                                <span class="positive" id="uiid"><%= adata.uiid %></span><br/>
                                <span class="caption">Subscription till</span><br/>
                                <span  id="subscriptionTill">...</span ><br/>
                            </div>
                            <div class="fmt-col fmt-half">
                                <span class="sub-heading">Settings</span>
                                <div class="switch-view" id="teachereditschedulecontainer">
                                    <span class="switch-text">Allow new teachers to add schedule</span>
                                    <label class="switch-container">
                                      <input type="checkbox" id="teachereditschedule"
                                      <% if(inst.preferences.allowTeacherAddSchedule){%>
                                        checked
                                        <% } %>
                                      >
                                      <span class="switch-positive" id="teachereditscheduleview"></span>
                                    </label>
                                </div>
                                
                                <div class="switch-view" id="scheduleactivecontainer">
                                    <span class="switch-text">Scheduling is active</span>
                                    <label class="switch-container">
                                        <input type="checkbox" id="scheduleactive"
                                        <% if(inst.preferences.active){%>
                                            checked
                                            <% } %>
                                        >
                                        <span class="switch-active" id="scheduleactiveview"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--schedule settings box-->
                        <div class="sub-container fmt-animate-opacity" id="scheduleSettingsBox">
                            <span class="sub-heading">Timings</span>
                            <button class="fmt-right negative-button" id="reschedule">Re-schedule</button>
                            <div>
                                <div class="positive" id="start">
                                    <span class="caption">Schedule starts at</span><br/>
                                    <span id="startView"><%= inst.default.timings.startTime %></span>
                                    <button class="neutral-button caption" id="editstart"><img width="20" src="/graphic/elements/editicon.svg"/></button>
                                </div>
                                <div id="starteditor">
                                    <fieldset style="margin:0" class="text-field questrial" id="startfield">
                                        <legend class="field-caption">Start Time</legend>
                                        <input class="text-input" style="font-size:18px" required value="<%= inst.default.timings.startTime %>" placeholder="Schedule begins at" type="time" id="startinput" name="startTime" >
                                        <span class="fmt-right error-caption"  id="starterror"></span>
                                    </fieldset>
                                    <button class="positive-button caption" id="savestart">Save</button>
                                    <button class="negative-button caption" id="cancelstart">Cancel</button>
                                </div>

                                <div class="positive" id="breakstart">
                                    <span class="caption">Break starts at</span><br/>
                                    <span id="breakstartView"><%= inst.default.timings.breakStartTime %></span>
                                    <button class="neutral-button caption" id="editbreakstart"><img width="20" src="/graphic/elements/editicon.svg"/></button>
                                </div>
                                <div id="breakstarteditor">
                                    <fieldset style="margin:0" class="text-field questrial" id="breakstartfield">
                                        <legend class="field-caption">Break starts at</legend>
                                        <input class="text-input" style="font-size:18px" required value="<%= inst.default.timings.breakStartTime %>" placeholder="Break begins at" type="time" id="breakstartinput" name="breakstartTime" >
                                        <span class="fmt-right error-caption"  id="breakstarterror"></span>
                                    </fieldset>
                                    <button class="positive-button caption" id="savebreakstart">Save</button>
                                    <button class="negative-button caption" id="cancelbreakstart">Cancel</button>
                                </div>

                                <div class="positive" id="periodduration">
                                    <span class="caption">Each period duration</span><br/>
                                    <span id="perioddurationView"><%= inst.default.timings.periodMinutes %></span>
                                    <button class="neutral-button caption" id="editperiodduration"><img width="20" src="/graphic/elements/editicon.svg"/></button>
                                </div>
                                <div id="perioddurationeditor">
                                    <fieldset style="margin:0" class="text-field questrial" id="perioddurationfield">
                                        <legend class="field-caption">Each period duration</legend>
                                        <input class="text-input" style="font-size:18px" required value="<%= inst.default.timings.periodMinutes %>" placeholder="Period minutes" type="number" id="perioddurationinput" name="perioddurationTime" >
                                        <span class="fmt-right error-caption"  id="perioddurationerror"></span>
                                    </fieldset>
                                    <button class="positive-button caption" id="saveperiodduration">Save</button>
                                    <button class="negative-button caption" id="cancelperiodduration">Cancel</button>
                                </div>

                                <div class="positive" id="breakduration">
                                    <span class="caption">Break duration</span><br/>
                                    <span id="breakdurationView"><%= inst.default.timings.breakMinutes %></span>
                                    <button class="neutral-button caption" id="editbreakduration"><img width="20" src="/graphic/elements/editicon.svg"/></button>
                                </div>
                                <div id="breakdurationeditor">
                                    <fieldset style="margin:0" class="text-field questrial" id="breakdurationfield">
                                        <legend class="field-caption">Break duration</legend>
                                        <input class="text-input" style="font-size:18px" required value="<%= inst.default.timings.breakMinutes %>" placeholder="Break minutes" type="number" id="breakdurationinput" name="breakdurationTime" >
                                        <span class="fmt-right error-caption"  id="breakdurationerror"></span>
                                    </fieldset>
                                    <button class="positive-button caption" id="savebreakduration">Save</button>
                                    <button class="negative-button caption" id="cancelbreakduration">Cancel</button>
                                </div>
                                <span class="caption">Periods in a day</span><br/>
                                <span class="positive" id="totalPeriods"><%= inst.default.timings.periodsInDay %></span><br/>
                                <%
                                    function getDaysArray(indices){
                                        const days = Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday');
                                        let indays = Array();
                                        indices.forEach((index,i)=>{
                                            if(i>0){
                                                indays.push(` ${days[Number(index)]}`);
                                            } else {
                                                indays.push(days[Number(index)]);
                                            }
                                        });
                                        return indays;
                                    }
                                 %> 
                                <span class="caption">Working days in a week</span><br/>
                                <span class="positive" id="workdays"><%= getDaysArray(inst.default.timings.daysInWeek) %></span><br/>
                            </div>
                        </div>
                        <!--users settings-->
                        <div class="fmt-row sub-container fmt-animate-opacity" id="usersSettingsBox">
                            <div class="fmt-col fmt-padding-small<% if(countObjects(inst.users.classes)>0) {%> fmt-half<% } %>">
                                <div class="fmt-row">
                                    <span class="sub-heading">Teachers</span>
                                    <button class="fmt-right neutral-button" id="inviteUsers">🔗</button>
                                </div>
                                <div class="fmt-row">
                                    <input type="text" class="dropdown-input fmt-padding-small" placeholder="Search among <%= countObjects(inst.users.teachers)%> teachers" id="teacherSearch" style="width:100%"/>
                                </div>
                                <br/>
                                <div class="fmt-row" id="teacherList">
                                </div>
                            </div>
                            <% if(countObjects(inst.users.classes)>0) {%>
                                <div class="fmt-col fmt-half fmt-padding-small">
                                    <span class="sub-heading">Classes</span>
                                    <button class="fmt-right neutral-button" id="allclasses" onclick="refer(locate.admin.session,{target:locate.admin.target.classes})"><img src="/graphic/elements/classicon.svg" width="25" /></button>
                                    <input type="text" class="dropdown-input fmt-padding-small" placeholder="Search among <%= countObjects(inst.users.classes)%> classes" id="classSearch" style="width:100%"/>
                                    <br/>
                                    <br/>
                                    <div class="fmt-row" id="classList">
                                        
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <!--security settings-->
                        <div class="sub-container  fmt-animate-opacity" id="securitySettingsBox">
                            <span class="sub-heading">Security</span>
                            <div>
                                <span class="caption">Auth management</span><br/>
                                <button class="positive-button" id="sendpasswordlink">Get password link</button>
                                <button class="negative-button" id="resetMailButton">Reset email address</button>
                                <button class="neutral-button" id="resetPasswordButton">Change password</button><br/>
                                <span class="caption">Data management</span><br/>
                                <button class="positive-button" id="instbackup">Download Institute Backup</button><br/>
                                <span class="caption">Service management</span><br/>
                                <button class="negative-button" id="deleteAdminAccount">Delete account</button>
                                <button class="negative-button" id="deleteInstitute">Delete Institute</button>
                            </div>
                        </div>
                        <!--about settings-->
                        <div class="sub-container fmt-animate-opacity" id="aboutSettingsBox">
                            <span class="sub-heading">About</span>
                            <br/>
                            <div>Aimed at simplifying the way schedule management works in school systems.</div>
                            <div>Tell us your experience with Schemester by clicking the button below.</div>
                            <br/>
                            <button class="positive-button" id="contactDevelopers">Contact Devs.</button>
                            <img class="fmt-right fmt-spin-slow" src="/graphic/icons/schemester256.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="dialogView" class="dialog fmt-animate-opacity">
            <div class="dialog-box container fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">            
            </div>
        </div>
        <div id="snackBar" class="fmt-animate-bottom">
            <span id="snackText"></span>
            <button id="snackButton"></button>
        </div>
        <span hidden>
            <span id="section"><%= section %></span>
        </span>
    </body>
    <noscript id="noscript" class="dialog fmt-red" style="display:block">
        <div class="dialog-box container fmt-center fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">
            <div class="heading">Javascript required</div><br/>
            <div class="group-text fmt-center">Please enable javascript in your browser, or allow this site to use, if denied.
                <br/>If your browser doesn't support javascript, try a <a target="_blank" rel="noreferrer" href="https://google.com/search?q=modern+browsers">modern browser</a>.
            </div>
        </div>
    </noscript>
</html>