<!DOCTYPE html>
<html>
    <head>
        <title>
            <% if (group.teacher) { %>
                <%= teacher.username?teacher.username:'Pending' %>
            <% } else if(group.Class) { %>
                <%= Class.classname %>
            <% } %>
            · <%= appname %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3" id='themecolor'>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/switch.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/admin/schedule.js"></script>
        <script src="/script/admin/admin.js"></script>
    </head>
    
    <body>
        <div id="topBar">
            <img class="circle-button"  src="/graphic/leftArrow.svg" width="40" id="back">
            <span id="greeting">Schedule · 
                <% if (group.teacher) { %>
                    <% if (group.pending) { %>
                        Pending 
                    <% } %>
                    Teacher
                <% } else if(group.Class) { %>
                    Class
                <% } %>
            </span>
            <span  class="menu fmt-right">
                <button  class="positive-button-togg"  id="settingsmenubutton"><img src="/graphic/menudotsvertical.svg" width="25"></button>
                <div class="menubox" id="settingsmenu">
                    <span class="fmt-row fmt-center">
                        <label class="switch-container ">
                            <input type="checkbox" id="darkmode">
                            <span class="switch-positive"></span>
                        </label>
                    </span>
                    <div class="negative" id="logout">
                        Logout
                    </div>
                </div>
            </span >
            <span class="fmt-padding caption neutral fmt-right">
                <span id="editmodeview">Clash Edit</span>&#160;&#160;<label class="switch-container">
                    <input type="checkbox" id="editmode">
                    <span class="switch-warning"></span>
                </label>
            </span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader" alt="Loader"/>
        </div>
        <div class="fmt-row fmt-padding-small" style="margin-top: 72px;">
            <div class="fmt-row fmt-padding">
                <div class="fmt-col fmt-half">
                    <div class="fmt-row group-heading positive fmt-left">
                    <% if (group.teacher) { %>
                        <%= teacher.username?teacher.username:'Pending' %>
                    <% } else if(group.Class) { %>
                        <div  id="classnameview">
                            <span id="classname"><%= Class.classname %></span><button class="neutral-button caption" style="margin:0px 12px" id="editclassname"><img width="20" src="/graphic/elements/editicon.svg"/></button>
                        </div>
                        <div class="wide" id="classnameeditor">
                            <fieldset style="margin:0" class="text-field questrial"  id="classnamefield">
                                <legend class="field-caption">Replace <%= Class.classname %></legend>
                                <input class="text-input" style="font-size:18px" required value="<%= Class.classname %>" placeholder="Rename for whole institution" type="text" id="classnameinput" name="classname" >
                                <span class="fmt-right error-caption"  id="classnameerror"></span>
                            </fieldset>
                            <img class="fmt-spin-fast" style="display:none" width="25" src="/graphic/blueLoader.svg" id="classnameloader"/>
                            <button class="positive-button caption" id="saveclassname">Rename</button>
                            <button class="negative-button caption" id="cancelclassname">Cancel</button>
                        </div>
                    <% } else { %>
                        U/A
                    <% } %>
                    </div>
                    <div class="questrial fmt-row" style="color:var(--tertiary-text)">
                        <% if (group.teacher) { %>
                            <%= teacher.teacherID %>
                        <% } else if(group.Class) { %>
                            <a id="classinchargename"><%= Class.inchargename %></a> <span id="classinchargeid"><%= Class.inchargeID %></a>
                        <% } %>
                    </div>
                </div>
                <div class="fmt-col fmt-half " id="actions">
                    <div class="fmt-row fmt-right">
                    <% if (group.teacher) { %>
                        <button class="warning-button" id="deleteschedule">Delete schedule</button>
                        <% if (!group.pending) { %>
                            <button class="positive-button" id="makeincharge">Make incharge</button>
                            <button class="negative-button" id="removeteacher">Remove Teacher</button>
                        <% } %>
                    <% } else if(group.Class) { %>
                        <button class="warning-button" id="deleteschedule">Change Incharge</button>
                        <button class="negative-button" id="removeclass">Remove Class</button>
                    <% } %>
                    </div>
                </div>
            </div>
            <br/>
            <% if(schedule && schedule.days.length) { %>
                <div class="fmt-row fmt-center" id="dayTabs">
                    <!-- schedule view -->
                </div>
            <% } else { %>
                <div class="fmt-center">
                    <% if(group.Class && group.pending) {%>
                        <div class="questrial">Scheduling hasn't started yet.</div>
                        <br/>
                        <button class="positive-button" id="backroot">Dashboard</button>
                    <% } else { %>
                        <div class="questrial">No schedule present for <%= teacher.username %>.</div>
                        <br/>
                        <button class="positive-button" id="addschedule">Add schedule</button>
                    <% } %>
                </div>
            <% } %>
        </div>
        <div id="dialogView"></div>
        <div id="snackBar"></div>
        <span hidden>
            <span id="acsrf"><%= acsrf %></span>
            <span id="pending"><%= group.pending %></span>
            <% if (group.Class) { %>
                <span id="client">student</span>
                <span id="classname"><%= Class.classname %></span>
                <% if (!group.pending) { %>
                    <span id="classUID"><% Class._id %></span>
                    <span id="inchargeID"><% Class.inchargeID %></span>
                <% } %>
            <% } else if(group.teacher) {%>
                <span id="client">teacher</span>
                <span id="teacherID"><%= teacher.teacherID %></span>
                <% if (!group.pending) { %>
                    <span id="teacherUID"><%= teacher._id %></span>
                    <span id="teachername"><%= teacher.username %></span>
                    <span id="teacherverified"><%= teacher.verified %></span>
                <% } %>
            <% } %>
            <span id="schedule"><%= schedule %></span>
            <span id="startTime"><%= inst.default.timings.startTime %></span>
            <span id="endTime"><%= inst.default.timings.endTime %></span>
            <span id="breakTime"><%= inst.default.timings.breakStartTime %></span>
            <span id="periodDuration"><%= inst.default.timings.periodMinutes %></span>
            <span id="breakDuration"><%= inst.default.timings.breakMinutes %></span>
            <span id="daysinweek"><%= inst.default.timings.daysInWeek %></span>
            <span id="periodcount"><%= inst.default.timings.periodsInDay %></span>
        </span>
    </body>
</html>