<!DOCTYPE html>
<html>
    <title>
        <% if (user.isAdmin) { %>
            Teacher
        <% } else { %>
            Schedule 
        <% } %> Filler · <%= appname %>
    </title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" id="viewportTag">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3" id='themecolor'>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel="stylesheet" href="/css/fmt.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/switch.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script async type="text/javascript" src="/script/main.js"></script>
        <script async type="text/javascript" src="/script/admin/teacherfiller.js"></script>
        <script src="/script/admin/admin.js"></script>
    </head>
    <%
    addNumberSuffixHTML = function(number = Number){
        var str = String(number)
         switch (number) {
          case 1: 
          return number + "st"
          case 2: 
          return number + "nd"
          case 3:
          return number + "rd"
          default:
            if (number > 9) {
                if (Number(str.charAt(str.length - 2)) == 1) {
                    return number + "th";
                } else {
                    return (str.substring(0,str.length-1) +addNumberSuffixHTML(Number(str.charAt(str.length - 1))))
                }
            } else {
                return number + "th";
            }
        }
    }%>
    <body>
        <div id="topBar">
            <% if (user.isAdmin) { %>
                <img class="circle-button"  src="/graphic/leftArrow.svg" width="40" id="back">
                <span id="greeting">Add Teacher</span>
            <% } else { %>
                <img src="/graphic/icons/schemester512.svg" width="40" alt="<%= appname %> icon" id="back">
                <span id="greeting">Create schedule</span>
            <% } %>
            <span  class="menu fmt-right">
                <button  class="positive-button-togg"  id="settingsmenubutton"><img src="/graphic/menudotsvertical.svg" width="25"></button>
                <div class="menubox" id="settingsmenu">
                    <span class="fmt-row fmt-center">
                        <label class="switch-container ">
                            <input type="checkbox" id="darkmode">
                            <span class="switch-positive"></span>
                        </label>
                    </span>
                    <% if (user.isAdmin) { %>
                        <div class="" id="settingsAdminButton">
                            <img src="/graphic/elements/settings.svg" width="25" /> Settings
                        </div>
                    <% } %>
                    <div class="negative" id="logout">
                        ❌ Logout
                    </div>
                </div>
            </span >
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader" alt="Loader"/>
            <button class="fmt-right neutral-button" id="uploadschedule">Upload <%= (user.isAdmin?'Teacher':'Schedule') %></button>
        </div>
        <div class="fmt-padding-small" style="margin-top: 66px;">
            <div class="container" id="workbox">
                <div class="fmt-row">

                    <div class="fmt-col fmt-half">
                        <% if (user.isAdmin) { %>
                            <fieldset class="text-field" id="teacherEmailField">
                                <legend class="field-caption">Email address of teacher</legend>
                                <input class="text-input" required placeholder="teacher@example.com"  type="email" id="teacherEmail" name="teacherScheduleDetail"
                                <% if(data.teacherID) { %>
                                    value="<%= data.teacherID %>"
                                <% } %>
                                >
                                <span class="fmt-right error-caption" id="teacherEmailError"></span>
                            </fieldset>
                            <span id="giventeacherID" hidden><%= data.teacherID %></span>
                        <% } else if(user.isTeacher) { %>
                            <div class="fmt-left">
                            <div class="fmt-left positive group-heading"><%= user.username %></div>
                            <div class="group-text"><%= user.id %></div>
                            </div>
                        <% } %>  
                    </div>
                <% if(user.isTeacher || user.isAdmin) { %>
                    <% if(inst.preferences.allowTeacherAddSchedule==true || user.isAdmin) { %>
                    <div class="fmt-col fmt-half">
                        <div class="fmt-half">
                            <fieldset class="text-field-active fmt-animate-fading-fast" id="teacherDayField">
                                <legend class="" id="teacherDayCaption">Day</legend>
                                <span id="teacherDay" class="field-caption " style="font-size:24px"><%= inst.default.timings.startDay %> </span>
                                <span class="fmt-right error-caption"  id="teacherDayError"></span>
                            </fieldset>
                        </div>
                        <div class="fmt-right" style="padding:12px">
                            <button class="neutral-button" id="prevSchedule">Previous day</button>
                            <button class="positive-button fmt-hide-small" id="nextSchedule">Save & Next</button>
                            <img class="fmt-spin-fast fmt-right" width="50" src="/graphic/blueLoader.svg" id="nextLoader"/>
                        </div>
                    </div>
                    <% } %>
                <% } %>
                </div>
                <br/>
                <% if(user.isTeacher || user.isAdmin) { %>
                    <% if(inst.preferences.allowTeacherAddSchedule==true || user.isAdmin) { %>
                <div class="fmt-row group-heading active fmt-hide-small">
                    <div class="fmt-col fmt-quarter">
                        Period
                    </div>
                    <div class="fmt-col fmt-quarter">
                        Class
                    </div>
                    <div class="fmt-col fmt-quarter">
                        Subject
                    </div>
                    <div class="fmt-col fmt-quarter">
                        Free    
                    </div>
                </div>

                
                <div class="fmt-row fmt-center" style="padding:4px" id="teacherFillerBox">
                    <% for( let index = 0; index < inst.default.timings.periodsInDay; index++ ) { %>
                        <div class="fmt-row tab-container fmt-animate-top" style="margin-bottom:4px" id="teacherperiodrow<%= index %>">
                            <div class="fmt-col fmt-quarter fmt-center active" style="padding:18px;">
                                <%= addNumberSuffixHTML(index+1) %><span class="fmt-hide-large fmt-hide-medium"> period</span>
                            </div>
                            <div class="fmt-col fmt-quarter" >
                                <fieldset class="text-field" id="teacherClassField<%= index %>">
                                </fieldset>
                            </div>
                            <div class="fmt-col fmt-quarter" >
                                <fieldset class="text-field" id="teacherSubjectField<%= index %>">
                                </fieldset>
                            </div>
                            <div class="fmt-col fmt-quarter group-text" style="padding:18px;">
                                <span class="fmt-padding" id="teacherperiodfreelabel<%= index %>">Set free</span>
                                <label class="switch-container" style="align-content: center;">
                                    <input type="checkbox" id="teacherperiodfreecheck<%= index %>">
                                    <span class="switch-positive"></span>
                                </label>
                            </div>
                        </div>
                    <% } %>
                    <div class="fmt-hide-large fmt-hide-medium fmt-center">
                        <br/>
                        <button class="fmt-row positive-button" style="width:100%" id="next2">Save &amp; Next</button>
                        <img class="fmt-spin-fast" width="50" src="/graphic/blueLoader.svg" id="nextloader2"/>
                    </div>
                </div>
                <% } else { %>
                    <div class="fmt-row">
                        <div class="fmt-col fmt-quarter fmt-padding">
                        </div>
                        <div class="fmt-col fmt-half fmt-center container">
                            <div class="group-heading positive">No schedule assigned</div>
                            <br/>
                            <div class="questrial">
                                Your administrator has not allowed any teacher to add their schedule. Wait for them to add your schedule.
                            </div>
                        </div>
                        <div class="fmt-col fmt-quarter fmt-padding">
                        </div>
                        <div class="fmt-center">
                            <button class="positive-button" id="weekschedule">See weekly</button>
                        </div>
                    </div>
                <% } %>
            <% } %>

            </div>
        </div>
        <div id="dialogView"></div>
        <div id="snackBar"></div>
        <span hidden>
            <span id="acsrf"><%= acsrf %></span>
            <span id="isAdmin"><%= user.isAdmin %></span>
            <span id="uiid"><%= inst.uiid %></span>
            <span id="periodsInDay"><%= inst.default.timings.periodsInDay %></span>
            <span id="daysInWeek"><%= inst.default.timings.daysInWeek %></span>
            <% if(user.isTeacher) { %>
                <span id="isTeacher"><%= user.isTeacher %></span>
                <span id="teachername"><%= user.username %></span>
                <span id="teacheremail"><%= user.id %></span>
                <span id="teacherverfied"><%= user.verified %></span>
                <span id="teacherID"><%= user.uid %></span>
                <span id="allowTeacherAddSchedule"><%= inst.preferences.allowTeacherAddSchedule %></span>
            <% } %>
        </span>
    </body>
    <noscript id="noscript" class="dialog fmt-red" style="display:block">
        <div class="dialog-box container fmt-center fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">
            <div class="heading">Javascript required</div><br/>
            <div class="group-text fmt-center">Please enable javascript in your browser, or allow this site to use, if denied.
                <br/>If your browser doesn't support javascript, try a <a target="_blank" rel="noreferrer" href="https://google.com/search?q=modern+browsers">modern browser</a>.
            </div>
        </div>
    </noscript>
</html>