<!DOCTYPE html>
<html>
    <title>
        <% if (user.isAdmin) { %>
            Teacher Filler · Schemester
        <% } else { %>
            Schedule Filler · Schemester
        <% } %>
    </title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" id="viewportTag">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel="stylesheet" href="/css/fmt.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/switch.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script async type="text/javascript" src="/script/main.js"></script>
        <script async type="text/javascript" src="/script/admin/teacherfiller.js"></script>
    </head>
    <%
    addNumberSuffixHTML = function(number = Number){
        var str = String(number)
         switch (number) {
          case 1: 
          return number + "st"
          case 2: 
          return number + "nd"
          case 3:
          return number + "rd"
          default:
            if (number > 9) {
                if (Number(str.charAt(str.length - 2)) == 1) {
                    return number + "th";
                } else {
                    return (str.substring(0,str.length-1) +addNumberSuffixHTML(Number(str.charAt(str.length - 1))))
                }
            } else {
                return number + "th";
            }
        }
    }%>
    <body>
        <div id="topBar">
            <% if (user.isAdmin) { %>
                <img class="circle-button"  src="/graphic/leftArrow.svg" width="40" id="back">
                <span id="greeting">Add Teacher</span>
            <% } else { %>
                <img src="/graphic/icons/schemester512.svg" width="40" alt="Schemester icon" id="back">
                <span id="greeting">Create schedule</span>
            <% } %>
            <span class="fmt-dropdown-hover fmt-right">
                <img src="/graphic/menudotsvertical.svg" id="menuButton">
                <div class="fmt-dropdown-content container" id="settingDropdown" style="right:0;padding:0;margin-right: 8px;background-color: #efefef;color:blue">
                    <% if (user.isAdmin) { %>
                    <div class="fmt-padding" id="settingsButton">Settings</div>
                    <% } %>
                    <div class="fmt-padding" id="logout">Logout</div>
                </div>
            </span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader" alt="Loader"/>
            <input type="text" class="searcher fmt-right" name="search">
        </div>
        <div class="fmt-padding-small" style="margin-top: 66px;">
            <div class="container" id="workbox">
                <div class="fmt-row">
                    <div class="fmt-col fmt-half">
                        <% if (user.isAdmin) { %>
                            <fieldset class="text-field" id="teacherEmailField">
                                <legend class="field-caption">Email address of teacher</legend>
                                <input class="text-input" required placeholder="teacher@example.com"  type="email" id="teacherEmail" name="teacherScheduleDetail"
                                <% if(data.teacherID) { %>
                                    value="<%= data.teacherID %>"
                                <% } %>
                                >
                                <span id="teacherEmailView" style="font-size:24px"></span>
                                <span class="fmt-right error-caption"  id="teacherEmailError"></span>
                            </fieldset>
                        <% } else if(user.isTeacher) { %>
                            <div class="fmt-left">
                            <div class="fmt-left positive group-heading"><%= user.username %></div>
                            <div class="group-text"><%= user.id %></div>
                            </div>
                        <% } %>  
                    </div>
                <% if(user.isTeacher || user.isAdmin) { %>
                    <% if(inst.preferences.allowTeacherAddSchedule==true || user.isAdmin) { %>
                    <div class="fmt-col fmt-half">
                        <div class="fmt-half">
                            <fieldset class="text-field-active" id="teacherDayField">
                                <legend class="field-caption" id="teacherDayCaption">Day</legend>
                                <!-- <input class="text-input" required placeholder="Monday" type="text" id="teacherDay" name="teacherScheduleDetail"> -->
                                <span id="teacherDay" style="font-size:24px"><%= inst.default.timings.startDay %> </span>
                                <span class="fmt-right error-caption"  id="teacherDayError"></span>
                            </fieldset>
                        </div>
                        <div class="fmt-right fmt-hide-small" style="padding:12px">
                            <button class="positive-button" id="nextSchedule">Save & Next</button>
                            <img class="fmt-spin-fast fmt-right" width="50" src="/graphic/blueLoader.svg" id="nextLoader"/>
                        </div>
                    </div>
                    <% } %>
                <% } %>
                </div>
                <br/>
                <% if(user.isTeacher || user.isAdmin) { %>
                    <% if(inst.preferences.allowTeacherAddSchedule==true || user.isAdmin) { %>
                <div class="fmt-row group-heading active fmt-hide-small">
                    <div class="fmt-col fmt-quarter">
                        Period
                    </div>
                    <div class="fmt-col fmt-quarter">
                        Class
                    </div>
                    <div class="fmt-col fmt-quarter">
                        Subject
                    </div>
                    <div class="fmt-col fmt-quarter">
                        
                    </div>
                </div>

                
                <div class="fmt-row fmt-center" style="padding:4px" id="teacherFillerBox">
                    <% for( let index = 0; index < inst.default.timings.periodsInDay; index++ ) { %>
                        <div class="fmt-row tab-container" style="margin-bottom:4px" id="teacherperiodrow<%= index %>">
                            <div class="fmt-col fmt-quarter fmt-center active" style="padding:18px;">
                                <%= addNumberSuffixHTML(index+1) %><span class="fmt-hide-large fmt-hide-medium"> period</span>
                            </div>
                            <div class="fmt-col fmt-quarter" >
                                <fieldset class="text-field" id="teacherClassField<%= index %>">
                                    <legend class="field-caption">Class assigned</legend>
                                    <input class="text-input group-text" required placeholder="e.g. 8A,12b,9,etc. (only one)"  type="text" id="teacherClass<%= index %>" name="teacherScheduleDetail">
                                    <span class="fmt-right error-caption"  id="teacherClassError<%= index %>"></span>
                                </fieldset>
                            </div>
                            <div class="fmt-col fmt-quarter" >
                                <fieldset class="text-field" id="teacherSubjectField<%= index %>">
                                    <legend class="field-caption">Subject to be taken</legend>
                                    <input class="text-input group-text" placeholder="e.g. Physics, Politics, etc."  type="text" id="teacherSubject<%= index %>" name="teacherScheduleDetail">
                                    <span class="fmt-right error-caption"  id="teacherSubjectError<%= index %>"></span>
                                </fieldset>
                            </div>
                            <div class="fmt-col fmt-quarter group-text" style="padding:18px;">
                                <span class="fmt-padding" id="teacherperiodfreelabel<%= index %>">Set free</span>
                                <label class="switch-container" style="align-content: center;">
                                    <input type="checkbox" id="teacherperiodfreecheck<%= index %>">
                                    <span class="switch-positive"></span>
                                </label>
                            </div>
                        </div>
                    <% } %>
                    <div class="fmt-hide-large fmt-hide-medium fmt-center">
                        <br/>
                        <button class="fmt-row positive-button" style="width:100%" id="next2">Save &amp; Next</button>
                        <img class="fmt-spin-fast" width="50" src="/graphic/blueLoader.svg" id="nextloader2"/>
                    </div>
                </div>
                <% } else { %>
                    <div class="fmt-row">
                        <div class="fmt-col fmt-quarter fmt-padding">
                        </div>
                        <div class="fmt-col fmt-half fmt-center container">
                            <div class="group-heading positive">No schedule assigned</div>
                            <br/>
                            <div class="questrial">
                                Your administrator has not allowed any teacher to add their schedule. Wait for them to add your schedule.
                            </div>
                        </div>
                        <div class="fmt-col fmt-quarter fmt-padding">
                        </div>
                        <div class="fmt-center">
                            <button class="positive-button" id="weekschedule">See weekly</button>
                        </div>
                    </div>
                <% } %>
            <% } %>

            </div>
        </div>
        <div id="snackBar" class="fmt-animate-bottom">
            <span id="snackText"></span>
            <button id="snackButton"></button>
        </div>
        <span hidden>
            <span id="isAdmin"><%= user.isAdmin %></span>
            <span id="uiid"><%= inst.uiid %></span>
            <span id="periodsInDay"><%= inst.default.timings.periodsInDay %></span>
            <span id="daysInWeek"><%= inst.default.timings.daysInWeek %></span>
            <% if(user.isTeacher) { %>
                <span id="isTeacher"><%= user.isTeacher %></span>
                <span id="teachername"><%= user.username %></span>
                <span id="teacheremail"><%= user.id %></span>
                <span id="teacherverfied"><%= user.verified %></span>
                <span id="teacherID"><%= user.uid %></span>
                <span id="allowTeacherAddSchedule"><%= inst.preferences.allowTeacherAddSchedule %></span>
            <% } %>
        </span>
    </body>
</html>