<style>
    @media screen {
        @import url('https://fonts.googleapis.com/css?family=Questrial');
    }
</style>
<table style="width:100%;border-spacing: 0;" >
    <tr style="border-width:0;">
        <td bgcolor="#fff" style="padding:12px;"><img src="https://schemester.herokuapp.com/graphic/icons/schemester128.png" style="display:block;" width="50" /></td>
        <td style="background-color: #216bf3;text-align: center;font-size: 34px;padding:26px;color:#fff;border-radius: 8px;">Invitation</td>
    </tr>
    </table>
    <br/>
    <table style="font-size: 18px;" bgcolor="#fff" width="100%">
        <tr>
            <td style="padding-left:12px;padding-right:12px;padding-top:22px">Hello!</td>
        </tr>
        <tr>
            <td style="padding-left:12px;padding-right:12px">You have been invited to join <%= institute %> on 
                <a style="text-decoration: none;color: #216bf3;" href="https://schemester.herokuapp.com">Schemester</a>, as a <%= usertype %>.
                You can get further details by clicking the button below.
            </td>
        </tr>

        <tr style="align-content: center;">
            <td style="text-align: center;padding:12px"><a target="_blank" rel="noreferrer" href="<%= link %>">
                <br/>
                <button style="background-color: #18b960;
                color:white;
                margin: 4px;
                padding-top:12px;
                padding-bottom:12px;
                padding-left:22px;
                padding-right:22px;
                font-size: 20px;
                border-width: 0;
                border-radius: 4px;
                box-shadow: 1px 5px 10px #00000022;
                cursor: pointer;">See invitation</button></a>
            </td>
        </tr>
    </table> 
    
    <table  style="font-size: 18px;" bgcolor="#fff" width="100%">
        <tr>
            <td style="padding:12px;">If the above button didn't work, then you can open the following link in your browser to proceed.</td>
        </tr>
        <tr>
            <td style="padding:12px;"><a style="text-align:center;
                color:#216bf3;
                transition:0.3s ease;
                overflow-wrap: break-word;
                cursor: pointer;"
                href="<%= link %>"><%= link %></a></td>
        </tr>
        <tr>
            <td style="padding:12px;color: #c02e2e;">This link can expire anytime.</td>
        </tr>
    </table>
    <table style="font-size: 18px;" bgcolor="#fff" width="100%">
        <tr>
            <td style="color:#c02e2e;padding:12px">You can ignore this email if this doesn't seem to be familiar.</td>
        </tr>
        <br/>
        <tr>
            <td style="color:#31352dbb;padding:12px;
            text-align:left;
            font-size: 18px;">This email was intended for <%= email %>.</td>
        </tr>
    </table>
    <br/>
    <table style="width:100%;">
        <tr>
            <td style="background-color: #216bf3;padding:26px;border-radius: 8px;">
                <a style="font-size: 20px;text-decoration: none;color: #fff;" href="https://schemester.herokuapp.com">
                    Regards<br/>
                    Schemester Devs.
                </a>
            </td>
            <td style="color:#216bf3;padding:12px;align-self: flex-end;align-content: flex-end;align-items: center;" bgcolor="#fff">
                <a style="font-size: 20px;text-decoration: none;" href="https://schemester.herokuapp.com">
                    <img src="https://schemester.herokuapp.com/graphic/icons/schemester128.png" style="display:block;" width="50" />
                </a>
            </td>
        </tr>        
    </table>