<style>
    @media screen {
        @import url('https://fonts.googleapis.com/css?family=Questrial');
    }
</style>
<table style="width:100%;border-spacing: 0;">
    <tr style="border-width:0;">
        <td bgcolor="#eee" style="padding:12px;"><img src="https://schemester.herokuapp.com/graphic/icons/schemester128.png" style="display:block;" width="50" /></td>
        <td style="background-color: #216bf3;text-align: center;font-size: 34px;padding:12px;color:#eee;">Verification</td>
    </tr>
    </table>
    <table style="font-size: 18px;" bgcolor="#eee" width="100%">
        <tr >
            <td style="padding-left:12px;padding-right:12px;padding-top:22px">Hey <span style="color:#216bf3"><%= username %></span>,</td>
        </tr>
        <tr>
            <td style="padding-left:12px;padding-right:12px">If you expected this email, then click the following button to verify your account (<span style="color:#216bf3"><%= email %></span>) on <a style="text-decoration: none;color: #216bf3;" href="https://schemester.herokuapp.com">Schemester</a>, and after that you'll be able to continue further.</td>
        </tr>

        <tr style="align-content: center;">
            <td style="text-align: center;padding:12px"><a target="_blank" rel="noreferrer" href="<%= link %>">
                <br/>
                <button style="background-color: #28a57f;
                color:white;
                margin: 4px;
                padding-top:8px;
                padding-bottom:8px;
                padding-left:12px;
                padding-right:12px;
                font-size: 20px;
                border-width: 0;
                border-radius: 4px;
                box-shadow: 1px 5px 10px #00000022;
                cursor: pointer;">Verify Account</button></a>
            </td>
        </tr>
    </table> 
    
    <table  style="font-size: 18px;" bgcolor="#eee" width="100%">
        <tr>
            <td style="padding:12px;">If the above button didn't work, then you can open the following link in your browser to complete verification.</td>
        </tr>
        <tr>
            <td style="padding:12px;"><a style="text-align:center;
                color:#216bf3;
                transition:0.3s ease;
                cursor: pointer;"
                href="<%= link %>"><%= link %></a></td>
        </tr>
        <tr>
            <td style="padding:12px;color: #c02e2e;">The link will expire soon.</td>
        </tr>
    </table>
    <table style="font-size: 18px;" bgcolor="#eee" width="100%">
        <tr>
            <td style="color:#c02e2e;padding:12px">If you do not recognize this email, then do not click any of the above links, as someone else must be trying to use your email address to gain access to Schemester.</td>
        </tr>
        <br/>
        <tr>
            <td style="color:#31352dbb;padding:12px;
            text-align:left;
            font-size: 18px;">This email was intended for <%= email %>.</td>
        </tr>
    </table>
    
    <table style="width:100%;">
        <tr>
            <td style="background-color: #216bf3;padding:12px">
                <a style="font-size: 20px;text-decoration: none;color: #fff;" href="https://schemester.herokuapp.com">
                    Regards<br/>
                    Schemester Devs.
                </a>
            </td>
            <td style="color:#216bf3;padding:12px;align-self: flex-end;align-content: flex-end;align-items: center;" bgcolor="#eee">
                <a style="font-size: 20px;text-decoration: none;" href="https://schemester.herokuapp.com">
                    <img src="https://schemester.herokuapp.com/graphic/icons/schemester128.png" style="display:block;" width="50" />
                </a>
            </td>
        </tr>        
    </table>
