<html style="padding-bottom:20px">
    <head>
        <title>Classroom (Frame)</title>
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/switch.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/student/fragment/classroom.js"></script>
        <script src="/script/student/student.js"></script>
    </head>
    <body>
        <div class="fmt-col fmt-padding fmt-animate-top">
            <div class="fmt-row">
                <div class="fmt-col three-fifth">
                    <div class="sub-heading positive" style="margin-bottom: 0;padding-bottom: 0;">Class</div>
                    <div class="questrial caption" style="margin-top: 0;padding-top: 0;" id="inchargeof">Classroom <span id="classname"><%= classroom.classname %></span></div>
                </div>
                <div class="fmt-col two-fifth" style="margin: 12px 0;">
                    <span class="menu fmt-right">
                        <button class="positive-button-togg" id="setupbutton"><img width="25" src="/graphic/elements/menuicon.svg"/></button>
                        <div class="menubox" id="setup">
                            <section class="fmt-padding positive fmt-center">
                                Actions
                            </section>
                            <% if(classroom) {%>
                            <div class="fmt-center questrial" id="chooseclass">
                                Choose class
                            </div>
                            <% } %>
                            <div class="fmt-center questrial" id="joinclass">
                                Join class
                            </div>
                        </div>
                    </span>
                    <span class="menu fmt-right">
                        <button class="neutral-button-togg" id="notificationbutton"><img src="/graphic/elements/bellicon.svg" width="25" /></button>
                    </span>
                    <span class="menu fmt-right">
                        <button class="neutral-button-togg" id="chatbutton"><img width="25" src="/graphic/elements/chaticon.svg"/></button>
                    </span>
                </div>
            </div>
            <% if(classroom){ %>
                <div class="fmt-row">
                    <div class="group-text fmt-center"><%= classroom.inchargename %></div>
                    <div class="group-text positive fmt-center"><%= classroom.inchargeID %></div>
                    <% if(classroom.students.length){ %>
                        <br/>
                        <input type="text" class="dropdown-input fmt-padding-small wide" placeholder="Search among <%= classroom.students.length %> classmates" id="studentSearch"/>
                        <div class="fmt-row" id="studentslist">
                            <br/>
                            <% classroom.students.forEach((student,s) => {%>
                                <div class="fmt-row wide b-neutral fmt-padding" style="margin:4px 0px" id="studentslate<%= s %> ">
                                    <div class="fmt-col fmt-twothird group-text">
                                      <span class="positive" id="studentname<%= s %>"><%= student.username %></span><br/>
                                      <span class="questrial" id="studentmail<%= s %>"><%= student.studentID %></span>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    <% } else { %>
                        <div class="fmt-center group-text">
                            <br/><br/>
                            No classmates yet.
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <div class="fmt-row">
                    <div class="fmt-col fmt-quarter fmt-padding">
                    </div>
                    <div class="fmt-col fmt-half fmt-center container">
                        <div class="group-heading positive">No class enrolled</div>
                        <br/>
                        <div class="questrial">
                            You aren't a part of any class
                        </div>
                    </div>
                    <div class="fmt-col fmt-quarter fmt-padding">
                    </div>
                    <div class="fmt-center">
                        <button class="negative-button" id="weekschedule">Hide section</button>
                    </div>
                </div>
            <% } %>
        </div>
        <div id="dialogView"></div>
        <div id="snackBar"></div>
        
        <span hidden>
            <span id="classes"><%= classes %></span>
            <span id="pseudoclasses"><%= pseudoclasses %></span>
        </span>
    </body>
</html>