<!DOCTYPE html>
<html>
    <title>Request Blocked · <%= appname %></title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js" type="text/javascript"></script>
        <script src="/script/errors.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta name="description" content="Even though everyone has the right to know everything, there are many things humans don't like to share. And a majority of these things fall into the category of material objects.">
        <meta name="theme-color" content="#efefef" id='themecolor'>
        <meta property="og:title" content="<%= appname %> · Get Scheduled">
        <meta property="og:type" content="tools">
        <meta property="og:url" content="<%= site %>">
        <meta property="og:locale" content="en-US">
        <meta property="og:description" content="An autonomous schedule management workflow with additional features primarily meant for educational institutions.">
        <meta property="og:image" content="<%= site %>/graphic/icons/schemester512.png">
        <meta property="og:site_name" content="<%= appname %> · Get Scheduled" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
    </head>
    <body style="background-color: var(--base);padding: 38px;">
        <div class="fmt-row fmt-center" >
            <div class="heading" style="color:var(--base-text);font-size: 72px;">
                429
            </div>
            <div class="sub-heading fmt-center fmt-padding">
            Too many requests.
            </div>
            <p class="group-text fmt-padding" style="font-size: 24px;" >
                It's not that we cannot handle these many requests, we just won't let our platfrom for you to exploit.
                <br/><br/>
                This ban is however, temporary, and if you'll use our platform like a responsible human being, then you won't face these bans.
                <br/><br/>
                You'll be able to continue normally in a few moments, just sit tight and pledge not to try exploiting <%= appname %> again.
            </p>
        </div>
        <br/>
        <div class="fmt-row fmt-center" >
            <button class="display-button questrial" style="font-size:32px;" id="returnbase">Return to base</button>
        </div >
    </body>
</html>