<!DOCTYPE html>
<html lang="en">
  <title>Schemester 路 Get Scheduled</title>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE" />
    <meta name="theme-color" content="#216bf3" id="themecolor" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link
      rel="apple-touch-startup-image"
      href="https://schemester.herokuapp.com/graphic/icons/schemester128.png"
    />
    <meta
      name="description"
      content="An autonomous online schedule management workflow system with additional features primarily meant for educational institutions."
    />
    <link rel="canonical" href="https://schemester.herokuapp.com/" />
    <link href="/font/Jost.css" rel="stylesheet" />
    <link href="/font/Questrial.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/fmt.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/switch.css" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Schemester" />
    <meta property="og:title" content="Schemester 路 Get Scheduled" />
    <meta property="og:type" content="tools" />
    <meta property="og:url" content="https://schemester.herokuapp.com/" />
    <meta property="og:locale" content="en-US" />
    <meta
      property="og:description"
      content="An autonomous online schedule management workflow system with additional features primarily meant for educational institutions."
    />
    <meta
      property="og:image"
      content="https://schemester.herokuapp.com/graphic/icons/schemester512.png"
    />
    <meta property="og:site_name" content="Schemester 路 Get Scheduled" />
    <meta
      name="favicon"
      content="https://schemester.herokuapp.com/graphic/icons/schemester512.png"
    />
    <meta name="twitter:title" content="Schemester 路 Get Scheduled" />
    <meta
      name="twitter:description"
      content="An autonomous online schedule management workflow system with additional features primarily meant for educational institutions. Get 
        our service at your institution for a hassle free schedule management system."
    />
    <meta
      name="twitter:image"
      content="https://schemester.herokuapp.com/graphic/icons/schemester512.png"
    />
    <meta name="twitter:site" content="@schemesterTweet" />
    <meta name="twitter:creator" content="@ranjanistic" />
    <meta name="twitter:url" content="https://schemester.herokuapp.com/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="linkedin:card"
      content="https://schemester.herokuapp.com/graphic/icons/schemester512.png"
    />
    <link
      rel="icon"
      href="/graphic/icons/schemester128.png"
      type="image/png"
      sizes="128x128"
    />
    <link rel="apple-touch-icon" href="/graphic/icons/schemester128.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#216bf3" />
    <meta name="apple-mobile-web-app-title" content="Schemester" />
    <meta name="msapplication-TileColor" content="#216bf3" />
    <meta name="msapplication-TileImage" content="/graphic/schemester.png" />
    <script src="/script/codes.js"></script>
    <script src="/script/main.js"></script>
    <script src="/script/homepage.js"></script>
    <script src="/script/admin/admin.js"></script>
    <script src="/script/teacher/teacher.js"></script>
    <script src="/script/student/student.js"></script>
    <script async defer src="/script/pwacompat.js"></script>
  </head>

  <body
    style="
      background-image: url('/graphic/illustrations/homebg.svg');
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <div class="fmt-top fmt-shadow fmt-animate-top" id="topBar">
      <img
        src="/graphic/icons/schemester512.svg"
        width="40"
        class="fmt-animate-left"
        alt="Schemester icon"
        onclick="refer(locate.root)"
      />
      <span id="navtext">Schemester</span>
      <img
        class="fmt-spin-fast fmt-circle fmt-right"
        width="40"
        src="/graphic/onethreeload.svg"
        id="navLoader"
        alt="Loader"
      />
      <span class="fmt-right fmt-padding-small">
        <label class="switch-container">
          <label for="darkmode"></label>
          <input type="checkbox" id="darkmode" />
          <span class="switch-positive"></span>
        </label>
      </span>
    </div>
    <div class="fmt-row">
      <div class="fmt-col fmt-center " style="margin-top: 62px;padding: 14px 18px;">
        <div class="fmt-row" id="logintabs">
        </div>
      </div>
    </div>
    <div
      class="fmt-row b-neutral"
      style="
        line-height: 80px;
        justify-content: center;
        padding: 62px 0px 82px 0px;
      "
    >
      <div class="fmt-center">
        <span class="positive questrial fmt-animate-top" style="padding: 22px; font-size: 24px"
          >Get to know what we do.</span
        ><br />
        <a href="#tourView"
          ><button class="display-button fmt-animate-opacity">Take a tour</button></a
        >
      </div>
    </div>
    <div class="fmt-row b-positive" style="padding: 82px 0 0 0;background-image: url('/graphic/illustrations/homebg.svg');background-repeat: no-repeat;
    background-size: cover;" id="tourView">
      <div class="fmt-row" style="padding: 44px">
        <div class="fmt-col fmt-half">
          <div class="heading fmt-row neutral">
            We do what they call, tedious.
          </div>
          <br />
          <div class="fmt-row">
            <span class="group-text neutral">
              A schedule is important for consistency at work.<br />And so is
              schedule management. <br />And that's what we do.
            </span>
          </div>
          <br />
          <div class="fmt-row">
            <button
              class="sub-display-button questrial"
              onclick="showLoader()"
              id="getStarted"
            >
              Learn more
            </button>
          </div>
        </div>
        <div class="fmt-col fmt-half fmt-center" style="margin-top: 22px">
          <img
            class="fmt-right"
            src="/graphic/icons/schemester512.svg"
            width="50%"
            alt="Display Illustration 1"
          />
        </div>
      </div>
      <div class="fmt-row container" style="margin: 18px">
        <div class="fmt-center">
          <span class="group-text"> We created </span><br />
          <span class="fmt-hide-small heading"> Schemester </span>
          <span
            class="fmt-hide-medium fmt-hide-large heading"
            style="font-size: 38px"
          >
            Schemester
          </span>
          <br />
          <span class="group-text">
            An autonomous online schedule management system.
          </span>
        </div>
        <br />
      </div>
    </div>
    <br />

    <div class="fmt-row">
      <div class="fmt-col fmt-center fmt-padding">
        <div class="heading questrial">Start here.</div>
        <% [{name:'admin',label:'Admin',tagline:'Create your institute on Schemester.'},{name:'teacher',label:'Teacher',tagline:'Join as a teacher in your institution.'},{name:'student',label:'Student',tagline:'Join as a student in your classroom.'}].forEach(client => { %>
          <div class="fmt-col fmt-third fmt-padding-small fmt-animate-top">
            <button
              class="image-text-button"
              style="margin-bottom: 22px"
              id="register<%=client.name%>"
            >
              <div class="fmt-row  fmt-animate-right" style="border-radius: 8px">
                <img
                  src="/graphic/illustrations/<%=client.name%>view.svg"
                  alt="<%=client.label%> Illustration"
                  width="100%"
                />
              </div>
              <div class="fmt-padding fmt-col  fmt-animate-left">
                <span class="group-heading fmt-row"
                  >Register as <%=client.label %></span
                >
                <span class="group-text fmt-row">
                  <%=client.tagline %>
                </span>
              </div>
            </button>
          </div>
        <% }) %>
      </div>
    </div>

    <!--foot note-->
    <footer class="fmt-row fmt-padding b-neutral">
      <br />
      <div class="caption questrial fmt-col fmt-half fmt-left fmt-padding">
        <div>
          Feel free to <a href="mailto:schemester@outlook.in">email us</a>.
        </div>
        <div>
          Ask us your queries
          <a
            target="_blank"
            rel="noreferrer"
            href="https://twitter.com/intent/tweet?screen_name=schemesterTweet&ref_src=twsrc%5Etfw"
            >on twitter</a
          >.
        </div>
        <div>
          Checkout our
          <a
            target="_blank"
            rel="noreferrer"
            href="https://instagram.com/schemesterinsta"
            >instagram profile</a
          >.
        </div>
      </div>
      <div class="fmt-col fmt-half fmt-padding">
        <img
          class="fmt-right"
          src="/graphic/icons/schemester512.svg"
          width="50"
          alt="Display Illustration Footer"
        />
      </div>
      <br />
    </footer>
    <div id="dialogView"></div>
    <div id="snackBar"></div>
    <span hidden>
      <span id="acsrf"><%= acsrf %></span>
    </span>
  </body>
  <script>
    window.parent.document.getElementById("themecolor").setAttribute("content",colors.raw[localStorage.getItem(theme.key)].positive);
    
  </script>
  <noscript id="noscript" class="dialog fmt-red" style="display: block">
    <div
      class="dialog-box container fmt-center fmt-row fmt-animate-opacity"
      style="padding: 22px 0"
      id="dialogBox"
    >
      <div class="heading">Javascript required</div>
      <br />
      <div class="group-text fmt-center">
        Please enable javascript in your browser, or allow this site to use, if
        denied. <br />If your browser doesn't support javascript, try a
        <a
          target="_blank"
          rel="noreferrer"
          href="https://google.com/search?q=modern+browsers"
          >modern browser</a
        >.
      </div>
    </div>
  </noscript>
</html>
