<html>
    <head>
        <title>Invitation · Schemester</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3" id='themecolor'>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/switch.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/invitation.js"></script>
    </head>
    <body class="b-positive">
        <div class="fmt-top fmt-shadow" id="topBar">
            <a href="/"><img src="/graphic/icons/schemester512.svg" width="40" alt="Schemester icon"></a>
            <span>
                <% if(invite.target == 'student') {%>
                    Student
                <% }else if(invite.target == 'teacher'){%>
                    Teacher
                <% }else if(invite.target == 'admin'){%>
                    Admin
                <% } %>
                Invitation
            </span>

            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader" alt="Loader"/>
            <span class="fmt-right fmt-padding-small">
                <label class="switch-container">
                  <label for="darkmode"></label>
                  <input type="checkbox" id="darkmode" />
                  <span class="switch-positive"></span>
                </label>
            </span>
        </div>
        
        <div class="fmt-padding" style="margin-top: 72px;" id="invitebodyparent">
        <% if(invite.valid) { %> 
            <div class="container" id="userinvitationactive">
                <div class="heading fmt-row fmt-center">Invitation</div>
                <div class="questrial fmt-row">
                    <b><%= invite.invitorName %></b> has invited you <% if(invite.personal){ %>(<%= invite.email %>)<% } %>
                     to join
                    <% if(invite.classname) {%>
                        <b>classroom <span id="classname"><%= invite.classname %></span></b> of
                    <%}%>
                     <b><%= invite.instname %></b> as <%= invite.target %>, on <a target="_blank" rel="noreferrer" href="/">Schemester</a>.
                    Fill up your details, create a password, and join, if you are a
                    <%= invite.target %> at <%= invite.instname %> (code name: <b><%= invite.uiid %></b>).<br/><br/>
                    <% if(invite.expireAt) {%>
                        <center><span class="error-caption">This invitation will automatically expire on <b id="expireat"><%= invite.expireAt %></b>, exactly.</span></center>
                    <%}%>
                </div>
                <br/>
                <div id="inputview">
                    <div class="caption fmt-center questrial positive">Provide your details before accepting.</div>
                    <fieldset class="text-field fmt-row" id="usernamefield">
                        <legend class="field-caption" id="usernamefieldcaption">Your name</legend>
                        <input class="text-input" required spellcheck="false" autocomplete="name" placeholder="Visible to people at <%= invite.instname %>" type="text" id="usernamefieldinput" name="username">
                        <span class="fmt-right error-caption" id="usernamefielderror"></span>
                    </fieldset>
                    <fieldset class="text-field fmt-row" id="usermailfield">
                        <legend class="field-caption" id="usermailfieldcaption">Your email address</legend>
                        <input class="text-input" required spellcheck="false" autocomplete="email" placeholder="youremail@example.domain" type="email" id="usermailfieldinput" name="useremail" <% if(invite.personal){%>value="<%= invite.email %>" disabled<%}%>>
                        <span class="fmt-right error-caption" id="usermailfielderror"></span>
                    </fieldset>
                    <fieldset class="text-field fmt-row" id="userpassfield">
                        <legend class="field-caption" id="userpassfieldcaption">Type your password</legend>
                        <input class="text-input" required autocomplete="new-password"
                        <% if(invite.target != 'teacher') { %>
                            placeholder="Type existing or create a new password"
                        <% } else { %>
                            placeholder="A strong password"
                        <% } %>
                            type="password" id="userpassfieldinput" name="userpassword">
                        <span class="fmt-right error-caption" id="userpassfielderror"></span>
                    </fieldset>
                    <br/>
                    <div class="fmt-row">
                        <button class="active-button fmt-right" id="acceptInvitation">Accept & Join</button>
                        <button class="negative-button fmt-right" id="rejectInvitation">Reject Invitation</button>
                        <img class="fmt-spin-fast fmt-right" width="50" style="display:none" src="/graphic/blueLoader.svg" id="inviteloader"/>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="container" id="userinvitationexpired">
                <div class="heading fmt-center">Expired</div>
                <div class="questrial fmt-row">
                    The link that brought you here is no longer accepting invitations on <a target="_blank" rel="noreferrer" href="/">Schemester</a>.
                    <% if (invite.expireAt!=0) { %>(<b>expired on<span id="expireat"><%= invite.expireAt %></span></b>).<% } %>
                    If you think this was a mistake, then you can create your account as a <%= invite.target %>, on <a href="/tour">Schemester</a>, by providing your institution details.
                </div>
                
                <br/>
                <div class="fmt-center" id="expinputview">
                    <button class="positive-button" id="registerbutton">Create <%= invite.target %> account</button>
                    <button class="neutral-button" onclick="refer(locate.homepage)">Explore Schemester</button>
                </div>
            </div>
        <% } %>
        </div>
        <div class="container caption group-text">
            <ul>
                NOTE
                <li>If you already have an account, then fill the details of your existing account (your name will remain same as existing one), otherwise, a new account will be created for you.</li>
                <li>These details can be changed later anytime.</li>
                <li>For teacher and students, if you accept this invitation, then it won't lead you to direct entry in your invite destination, i.e., you'll still have to wait for the host to accept you. (Unless this invitaion was received by you personally on your email address.)</li>
                <li>For admins, if you are already an admin of some other institution, then accepting this will NOT lead you to lose it, instead, you'll be able to access any of your institution depending upon the uiid you provide on login.
                    At this moment, if you accept this invite, you'll be logged out of your (if) previously logged in institution, and your session will move to this new institution.
                </li>
                <li>Providing erronous details could get you in organizational trouble. <a target="_blank" rel="noreferrer" href="">Get help on registration</a></li>
            </ul>
        </div>
        <span hidden>
            <span id="personal"><%= invite.personal %></span>
            <span id="invitorName"><%= invite.invitorName %></span>
            <span id="invitorID"><%= invite.invitorID %></span>
            <span id="uiid"><%= invite.uiid %></span>
            <span id="target"><%= invite.target %></span>
            <span id="exp"><%= invite.expireAt %></span>
            <span id="instname"><%= invite.instname %></span>
        </span>
        <div id="dialogView"></div>
        <div id="snackBar"></div>
    </body>
    <noscript id="noscript" class="dialog fmt-red" style="display:block">
        <div class="dialog-box container fmt-center fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">
            <div class="heading">Javascript required</div><br/>
            <div class="group-text fmt-center">Please enable javascript in your browser, or allow this site to use, if denied.
                <br/>If your browser doesn't support javascript, try a <a target="_blank" rel="noreferrer" href="https://google.com/search?q=modern+browsers">modern browser</a>.
            </div>
        </div>
    </noscript>
</html>
        