<!DOCTYPE html>
<html>
    <head>
        <title>Password Reset · Schemester</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/resetpassword.js"></script>
    </head>
    <%if(user.expired) {%>
    <body class="b-negative">
        <div id="topBar" style="background-color: #c40c0c;">
    <% } else { %>
    <body class="b-positive">
        <div id="topBar">
    <% } %>
            <img src="/graphic/icons/schemester512.svg" width="40" alt="Schemester icon" id="navicon" onclick="relocate(locate.root)">
            <span>Password</span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader"/>
        </div>
        <div class="fmt-row fmt-padding"  style="margin-top: 72px;">
            <div class="fmt-col container" id="workbox">
            <%if(user.expired) {%>
                <div class="fmt-row heading fmt-center negative">Expired</div><br/>
                <div class="fmt-row questrial">
                    This link is no longer valid.<br/><br/>
                    The link that brought you here has expired now. Password reset links are only valid for 900 seconds (15 minutes).
                    Try sending link again, after signing in to your account.<br/><br/>
                    <b class="negative">Make sure to visit your reset link before it's too late.</b>
                </div><br/><br/>
                <div class="fmt-row">
                    <button class="fmt-right positive-button" id="returnhome">Return to base</button>
                </div>
            <% } else { %>
                <div class="fmt-row heading fmt-center">Reset Password</div><br/>
                <div class="fmt-row questrial">
                    Hey <%= user.username %>,<br/>
                    Set your new password for your Schemester account (<%= user.id %>),
                    <br/>
                    <span class="negative">This link will expire soon.</span>
                    <br/>         
                    <fieldset class="text-field" id="passfield">
                        <legend class="field-caption" >New password</legend>
                        <input class="text-input" required placeholder="A strong password" type="password"  id="passinput" name="newpassword">
                        <span class="fmt-right error-caption" id="passerror"></span>
                    </fieldset>
                </div><br/><br/>
                <div class="fmt-row fmt-center">
                    <img class="fmt-spin-fast" width="50" src="/graphic/blueLoader.svg" id="loader"/>
                    <button class="positive-button" id="savepassword">Save password</button>
                </div>
            <% } %>
            </div>
        </div>
        <div id="dialogView" class="dialog fmt-animate-opacity">
            <div class="dialog-box container fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">            
            </div>
        </div>
        <div id="snackBar" class="fmt-animate-bottom">
            <span id="snackText"></span>
            <button id="snackButton"></button>
        </div>
        <span hidden>
            <% if(user.isAdmin) { %>
            <span id="client">admin</span>
            <span id="uiid"><%= user.uiid %></span>
            <% } else if(user.isTeacher){ %>
            <span id="client">teacher</span>
            <span id="uiid"><%= uiid %></span>
            <% } else if(user.isStudent) { %>
            <span id="client">student</span>
            <% } %>
            <span id="expired"><%= user.expired %></span>
            <span id="email"><%= user.id %></span>
            <span id="uid"><%= user.uid %></span>
            <span id="username"><%= user.username %></span>
        </span>
    </body>
</html>