<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#216bf3" id='themecolor'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
    <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
    <link rel = "stylesheet" href="/css/fmt.css">
    <link rel = "stylesheet" href="/css/main.css">
    <link rel = "stylesheet" href="/css/switch.css">
    <link href="/font/Jost.css" rel="stylesheet">
    <link href="/font/Questrial.css" rel="stylesheet">
    <script src="/script/codes.js"></script>
    <script src="/script/main.js"></script>
    <script src="/script/tour.js"></script>
    <title>Tour · <%= appname %></title>
</head>
<body class="fmt-center">
    <% for (let index = 1; index <= total; index++) { %>
        <img width="100%" src="/graphic/tour/<%= filename %><%= index %>.svg" ></img>
    <% } %>
    <div class="fmt-top fmt-opacity fmt-hover-opacity-off ">
        <button class="neutral-button questrial fmt-right" id="backroot">Home</button>
        <button class="neutral-button questrial fmt-right" id="share">Share</button>
    </div>
    <span hidden>
        <span id="appname"><%= appname %></span>
        <a href="<%= site %>"><span id="site"><%= site %></span></a>
    </span>
    <div id="snackBar"></div>
</body>
</html>