<!DOCTYPE html>
<html>
    <head>
        <title>Verification · Schemester</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/verification.js"></script>
    </head>
    <%if(user.expired) {%>
    <body class="b-negative">
        <div id="topBar" style="background-color: #c40c0c;">
    <% } else { %>
    <body class="b-positive">
        <div id="topBar">
    <% } %>
            <img src="/graphic/icons/schemester512.svg" width="40" alt="Schemester icon" id="navicon" onclick="relocate(locate.root)">
            <span>Account Verification</span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader"/>
        </div>
        <div class="fmt-row fmt-padding"  style="margin-top: 72px;">
            <div class="fmt-col container" id="workbox">
            <%if(user.expired) {%>
                <div class="fmt-row heading fmt-center negative">Expired</div><br/>
                <div class="fmt-row questrial">
                    This link is no longer valid.<br/><br/>
                    The link that brought you here has expired now. Verification links are only valid for 900 seconds (15 minutes).
                    Try verifying again, after signing in to your account.<br/><br/>
                    <b class="negative">Make sure to visit your verification link before it's too late.</b>
                </div><br/><br/>
                <div class="fmt-row">
                    <button class="fmt-right positive-button" id="returnhome">Return to base</button>
                </div>
            <% } else { %>
                <%if(!user.verified) {%>
                    <div class="fmt-row heading fmt-center">Verification</div><br/>
                    <div class="fmt-row questrial">
                        Dear <%= user.username %>,<br/><br/>
                        Before you explore and enjoy the benefits of Schemester,
                        your account (<span class="positive"><%= user.id %></span>) needs to be verified to justify your authenticity.
                        <br/><br/>If you click the blue button, a link will be sent to your provided email address, and you should visit that link before it expires.</br>
                        This small step will get you verified, and would be a giant leap for us, as we'll fully trust you after that.
                        <br/>
                        <% if(user.isAdmin){ %>
                        <span class="negative">In case you've mistakenly provided us the wrong email, you can reset your account too, and then provide us with your own email address.</span>
                        <% } %>
                    </div><br/><br/>
                    <div class="fmt-row">
                        <img class="fmt-spin-fast fmt-center fmt-left" width="50" src="/graphic/blueLoader.svg" id="verifyLoader"/>
                        <button class="positive-button fmt-left" id="sendlink">Send link to <%= user.id %> </button>
                        <button class="active-button fmt-left" id="checkverified">Check</button>
                        <% if(user.isAdmin){ %>
                        <button class="fmt-right negative-button" id="resetaccount">Reset account</button>
                        <% } %>
                        <button class="fmt-right neutral-button" id="later">Not now</button>
                    </div>
                <% } else { %>
                    <div class="fmt-row heading fmt-center active">Verified</div><br/>
                    <div class="fmt-row questrial">
                        Hello <%= user.username %>!<br/><br/>
                        Cheers! You have successfully verified your account (<%= user.id %>).
                        As <% if(user.isAdmin) { %>an administrator<% } else if(user.isTeacher){ %>a teacher<% } else if(user.isStudent) { %>a student<% } %>,
                        you may now continue your journey with <a href="/tour">Schemester</a>.
                    </div><br/><br/>
                    <div class="fmt-row">
                        <button class="fmt-right positive-button" id="continueSession">Continue</button>
                        <button class="fmt-right neutral-button" id="explore">Explore Schemester</button>
                    </div>
                <% } %>
            <% } %>
            </div>
        </div>
        <div id="dialogView" class="dialog fmt-animate-opacity">
            <div class="dialog-box container fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">            
            </div>
        </div>
        <div id="snackBar" class="fmt-animate-bottom">
            <span id="snackText"></span>
            <button id="snackButton"></button>
        </div>
        <span hidden>
            <% if(user.isAdmin) { %>
            <span id="client">admin</span>
            <% } else if(user.isTeacher){ %>
            <span id="client">teacher</span>
            <% } else if(user.isStudent) { %>
            <span id="client">student</span>
            <% } %>
            <span id="expired"><%= user.expired %></span>
            <span id="verified"><%= user.verified %></span>
            <span id="email"><%= user.id %></span>
            <span id="uid"><%= user.uid %></span>
            <span id="uiid"><%= user.uiid %></span>
            <span id="username"><%= user.username %></span>
        </span>
    </body>
</html>