<!DOCTYPE html>
<html>
    <head>
        <title>
        <% if(teacher.pseudo){%>Pending<%} else {%>Dashboard<%}%> · Schemester
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE" />
        <meta name="theme-color" content="#216bf3" id="themecolor" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta
          name="apple-mobile-web-app-status-bar-style"
          content="black-translucent"
        />
        <link
          rel="apple-touch-startup-image"
          href="/graphic/icons/schemester128.png"
        />
        <meta
          name="description"
          content="Welcome to the teacher dashboard of Schemester. Checkout what you've got on your schedule today, and take actions if required."
        />
        <link rel="canonical" href="https://schemester.herokuapp.com/" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="application-name" content="Schemester" />
        <meta property="og:title" content="Schemester · Get Scheduled" />
        <meta property="og:type" content="tools" />
        <meta property="og:url" content="https://schemester.web.app/" />
        <meta property="og:locale" content="en-US" />
        <meta
          property="og:description"
          content="Welcome to the teacher dashboard of Schemester. Checkout what you've got on your schedule today, and take actions if required."
          />
        <meta
        property="og:image"
          content="https://schemester.web.app/graphic/icons/schemester512.png"
        />
        <meta property="og:site_name" content="Dahsboard · Teacher · Schemester" />
        <meta
          name="favicon"
          content="https://schemester.web.app/graphic/icons/schemester512.png"
        />
        <meta name="twitter:title" content="Dashboard · Teacher · Schemester" />
        <meta
          name="twitter:description"
          content="Welcome to the teacher dashboard of Schemester. Checkout what you've got on your schedule today, and take actions if required."
        />
        <meta
          name="twitter:image"
          content="https://schemester.web.app/graphic/icons/schemester512.png"
        />
        <meta name="twitter:site" content="@schemesterTweet" />
        <meta name="twitter:creator" content="@ranjanistic" />
        <meta name="twitter:url" content="https://schemester.web.app/" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta
        name="linkedin:card"
        content="https://schemester.web.app/graphic/icons/schemester512.png"
        />
        <link
        rel="icon"
        href="/graphic/icons/schemester128.png"
        type="image/png"
        sizes="128x128"
        />
        <link rel="apple-touch-icon" href="/graphic/icons/schemester128.png" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#216bf3" />
        <meta name="apple-mobile-web-app-title" content="Schemester" />
        <meta name="msapplication-TileColor" content="#216bf3" />
        <meta name="msapplication-TileImage" content="/graphic/schemester.png" />
        <link href="/font/Jost.css" rel="stylesheet" />
        <link href="/font/Questrial.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/fmt.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/switch.css" />
        <link rel="manifest" href="/manifest.json" />
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/teacher/teacher.js"></script>
        <script src="/script/teacher/teacherdash.js"></script>
        <script async defer src="/script/pwacompat.js"></script>
      </head>
    <body>
        <% if(teacher.pseudo) { %>
            <div id="topBar">
                <img src="/graphic/icons/schemester512.svg" width="40" alt="Schemester icon" id="navicon" onclick="relocate(locate.root,{client:client.teacher})">
                <span>Dashboard</span>
                <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader"/>
                <span class="fmt-right">
                    <label class="switch-container">
                        <input type="checkbox" id="darkmode">
                        <span class="switch-positive"></span>
                    </label>
                </span>
            </div>
            <div class="fmt-row fmt-padding" style="margin-top: 70px;">
                <div class="fmt-col fmt-quarter fmt-padding">
                </div>
                <div class="fmt-col fmt-half container">
                    <div class="group-heading positive fmt-center ">Request Pending</div>
                    <br/>
                    <div class="questrial">
                        Hey <%= teacher.username %>,<br/>
                        Your request is waiting for the administrator to accept.
                    </div>
                    <br/>
                    <div class="fmt-row">
                        <div class="fmt-row group-heading questrial">Account</div>
                        <div class="caption">Logged in as</div>

                        <div class="fmt-row" id="teachernameview">
                            <span class=" positive questrial" id="teachername"><%= teacher.username %></span>
                            <span class="pointer" id="editteachername"><img width="20" src="/graphic/elements/editicon.svg"/></span>
                        </div>
                        <div id="teachernameeditor">
                            <fieldset class="text-field questrial" style="margin:0" id="teachernamefield">
                                <legend class="field-caption questrial">Change your name</legend>
                                <input class="text-input questrial" style="font-size:16px" required value="<%= teacher.username %>" placeholder="Visible in <%=  %>" type="text" id="teachernameinput" name="teachername" >
                                <span class="fmt-right error-caption"  id="teachernameerror"></span>
                            </fieldset>
                            <button class="positive-button caption" id="saveteachername">Save</button>
                            <button class="neutral-button caption" id="cancelteachername">Cancel</button>
                        </div>
                        <div class="active questrial caption">
                            <%= teacher.id %><span class="pointer fmt-padding"><img id="resetemail" width="20" src="/graphic/elements/editicon.svg"/></span>
                        </div>
                        <div class="fmt-row fmt-center tab-container b-neutral">
                        <button class=" tab-container warning-button" id="forgotpass">Forgot password</button>
                        <button class="negative-button fmt-center " id="logout">Logout</button>
                        </div>
                    </div>
                </div>
                <div class="fmt-col fmt-quarter fmt-padding">
                </div>
                <div class="fmt-center">
                    <button class="negative-button" id="deleterequest">Delete request</button>
                </div>
            </div>
        <% } else { %>
            <div class="fmt-row " style="padding:0">
                <iframe style="width:100%;border:0;height:30cm;" id="frame">
                </iframe>
            </div>
            <div class="fmt-row bottom-tab fmt-center fmt-animate-bottom">
                <button class="fmt-col bottom-tab-section fourth" id="todaytab">
                    <img width="25" class="fmt-spin-fast" src="/graphic/blueLoader.svg" id="todayload"/><br/>
                    Today
                </button>
                <button class="fmt-col bottom-tab-section fourth" id="fulltab">
                    <img width="25" class="fmt-spin-fast" src="/graphic/blueLoader.svg" id="weekload"/><br/>
                    Week
                </button>
                <button class="fmt-col bottom-tab-section fourth" id="classtab">
                    <img width="25" class="fmt-spin-fast" src="/graphic/blueLoader.svg" id="classload"/><br/>
                    Class
                </button>
                <button class="fmt-col bottom-tab-section fourth" id="settingstab">
                    <img width="25" class="fmt-spin-fast" src="/graphic/blueLoader.svg" id="aboutload"/><br/>
                    About
                </button>
            </div>
        <% } %>
        <div id="dialogView" class="dialog fmt-animate-opacity">
            <div class="dialog-box container fmt-row fmt-animate-top" style="padding:22px 0;" id="dialogBox">            
            </div>
        </div>
        <div id="snackBar" class="fmt-animate-bottom">
            <span id="snackText"></span>
            <button id="snackButton"></button>
        </div>
        <span hidden>
            <span id="frag"><%= target.fragment %></span>
        </span>
    </body>
    <script>
        if ('serviceWorker' in window.navigator) {
        window.addEventListener('load', _=> {
            navigator.serviceWorker.register('/sw.js')
                .then((registration)=> {
                    console.log('SW:1:', registration.scope);
                }).catch((err)=> {
                    console.log('SW:0:', err);
                });
        });
    }
    </script>
</html>