<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard · Schemester</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel="manifest" href="/manifest.json">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script type="text/javascript" src="/script/main.js"></script>
        <script type="text/javascript" src="/script/admin/adminDash.js"></script>
    </head>
    <%countObjects = function(object){
            let i = 0;
            for(let key in object){
                i++;
            }
            return i;
    };
    isEmptyObject = function(object){
        for(let key in object){return false;}
        return true;
    }%>
    <body>
        <div id="topBar">
            <img src="/graphic/icons/schemester512.svg" width="40" alt="Schemester icon" id="navicon">
            <span id="greeting">Dashboard</span>
            <span class="fmt-dropdown-hover fmt-right">
                <img src="/graphic/menudotsvertical.svg" id="menuButton">
                <div class="fmt-dropdown-content container fmt-padding" id="settingDropdown" style="right:0;padding:0;margin-right: 8px;background-color: #efefef;border:4px solid #216bf3">
                    <div class="fmt-center">
                        Logged in as<br/>
                        <%= adata.id %>
                    </div>
                    <button class="neutral-button" id="settingsAdminButton">
                        Settings
                    </button>
                    <button class="negative-button" id="logoutAdminButton">
                        Logout
                    </button>
                </div>
            </span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader" alt="Loader"/>
            <input type="text" class="searcher fmt-right" name="search">
        </div>
        <div class="fmt-row fmt-padding-small" id="adminBody" style="margin-top: 72px;">
            <% if (inst.active) { %>
            <div class="fmt-col fmt-half fmt-padding-small">
                <div class="container fmt-animate-left" id="today" style="margin-bottom: 10px;">
                    <div class="fmt-row">
                        <span class=" heading"><%= inst.users.teachers.length %></span>
                        <button class="fmt-right positive-button" style="background-color: #40a556;">Auto-assign</button>
                    </div>
                    <fieldset class="fmt-row box-field">
                        <legend class="field-caption">Teachers absent · <span style="color: red;" id="absentees">2</span></legend>
                        <!--This division contains list of absentee teachers/assignees-->

                        <div class="fmt-row" id="absenteelist">
                            <!--This division contains absentee details, for each absentee-->
                            <div class="fmt-row sub-container" id="absentee1" style="margin:4px">
                                <div class="fmt-twothird">
                                    <span class="fmt-row" style="color:#216bf3">Dr. Teacher Sharma</span>
                                    <span class="group-text">4,5,6</span>
                                    <span class="group-text"> · 8A,10B</span>
                                </div>
                                <div class="fmt-third">
                                    <button class="fmt-row positive-button fmt-right">Edit</button><br/>
                                    <span class="fmt-row"></span>
                                </div>
                            </div>
                            <div class="fmt-row sub-container" id="absentee1" style="margin:4px">
                                <div class="fmt-third">
                                    <span class="fmt-row" style="color:#216bf3">Mr. Example Singh</span>
                                    <span class="group-text">Day off</span>
                                    <span class="group-text"> · 9A,12C</span>
                                </div>
                                <div class="fmt-twothird">
                                    <button class="fmt-row positive-button fmt-right">Edit</button><br/>
                                    <span class="fmt-row"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fmt-row box-field">
                        <legend class="field-caption">Classes affected · <span style="color: red;" id="absentees">6</span></legend>
                        <!--This division contains list of affected classes due to absentee teachers/assignees-->
                        <div class="fmt-row" id="classAffectedlist">
                            <!--This division contains absentee details, for each absentee-->
                            <div class="fmt-row" id="affectedClass1">
                                <span class="fmt-half">Class</span>
                                <span class="fmt-half">Period(s)</span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fmt-row box-field">
                        <legend class="field-caption">Free teachers · <span style="color: green;" id="absentees">5</span></legend>
                        <!--This division contains list of affected classes due to absentee teachers/assignees-->
                        <div class="fmt-row" id="freeAssigneeList">
                            <!--This division contains absentee details, for each absentee-->
                            <div class="fmt-row" id="freeAssignee1">
                                <span class="fmt-half">Free teacher's name</span>
                                <span class="fmt-half">Free periods</span>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="container fmt-animate-left" id="summary" style="margin-bottom: 10px;">
                    <span class="fmt-row heading">Weekly</span>
                </div>
            </div>
            <div class="fmt-col fmt-half fmt-padding-small">
                <div class="container fmt-animate-right" id="actions">
                    <span class="fmt-row heading">Everyday</span>
                    <fieldset class="fmt-row box-field">
                        <legend class="field-caption">Edit day schedule</legend>

                        <div class="fmt-row" id="todayScheduleChoices">
                            <span class="">
                                <label class="radio-container">
                                    Teacher
                                <input type="radio" name="todaySelection"  id="teacherRadioToday">
                                <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">
                                    Class
                                <input type="radio" name="todaySelection"  id="classRadioToday">
                                <span class="checkmark"></span>
                                </label>
                            </span>
                            <input type="text" class="dropdown-input fmt-half fmt-right" placeholder="" id="dayinput" style="width:fit-content"/>
                            <div id="daydropdown" class="dropdown-content" style="display: none;right:0">
                                <a id="sun">Sunday</a>
                                <a id="mon">Monday</a>
                                <a id="tue">Tuesday</a>
                                <a id="wed">Wednesday</a>
                                <a id="thu">Thursday</a>
                                <a id="fri">Friday</a>
                                <a id="sat">Saturday</a>
                            </div>    
                        </div>
                        <div id="workSectionToday" style="margin-top:22px">
                            <div class="fmt-row" id="teacherSectionToday">
                                <input type="text" class="dropdown-input fmt-right" placeholder="Search teacher" id="teacherInputToday" style="width:100%"/>
                            </div>
                            <div class="fmt-row" id="classSectionToday">
                                <input type="text" class="dropdown-input fmt-right" placeholder="Search class" id="classInputToday" style="width:100%"/>
                            </div>
                        </div>
                    </fieldset>
                    <br/>
                    <fieldset class="fmt-row box-field">
                        <legend class="field-caption">Full schedule</legend>
                        <div class="fmt-row" id="fullschedulechoices">
                            <span class="">
                                <label class="radio-container">
                                    Teacher
                                    <input type="radio" name="weekSelection" id="teacherRadioWeek">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container" >
                                    Class
                                <input type="radio" name="weekSelection" id="classRadioWeek" >
                                <span class="checkmark"></span>
                                </label>
                            </span>
                        </div>
                    </fieldset>
                </div>
            </div>
            <% } else { %>
                <div class="fmt-row">
                <% if (!isEmptyObject(inst.users.teachers)) { %>
                    <div class="fmt-col fmt-half fmt-padding">
                        <div class="fmt-center container fmt-padding">
                            <br/>
                            <span class="heading">Ready?</span>
                            <br/>
                            <div class="questrial">So far, <a href="/admin/session?target=manage&section=3"><%= countObjects(inst.users.teachers) %> teachers</a> have joined the institution on Schemester.
                                <br/>Would you like to start scheduling now?
                            </div>
                            <br/>
                            <button class="positive-button" id="startschedule">Start Scheduling</button>
                            <br/><br/>
                        </div>
                    </div>
                    <div class="fmt-col fmt-half fmt-padding">
                    <div class=" fmt-center fmt-padding container" >
                <% } else { %>
                    <div class="fmt-center fmt-padding container fmt-margin" >
                <% } %>
                        <br/>
                        <span class="heading">Schedule waiting.</span>
                        <% if (!isEmptyObject(inst.schedule.teachers)) { %>
                            <br/>
                            <div class="questrial">You have added schedule of <a onclick="refer(locate.admin.session,{target:locate.admin.target.manage,section:'locate.admin.target'})"><%= countObjects(inst.schedule.teachers) %> teachers</a>, of which <%= countObjects(inst.users.teachers) %> have accepted.</div> 
                        <% } else { %>
                            <br/>
                        <% } %>
                        <div class="questrial">Add a teacher of <a href="/admin/session?target=manage"><%= inst.default.institute.instituteName %></a>, by filling their schedule by yourself.</div>
                        <br/>
                        <button class="positive-button" id="addteacher">Add Teachers</button>
                        <br/><br/>
                        <% if (isEmptyObject(inst.users.teachers)) { %>
                            <span class="heading">Otherwise</span>
                            <br/>
                            <div class="questrial">Generate an invitation link to share with teachers of <%= inst.default.institute.instituteName %>, and let them 
                                add their own schedule.
                            </div>
                            <br/>
                            <button class="active-button" id="inviteteacher">Invite Teachers</button>
                            <br/><br/>
                        <% } %>
                    </div>
                <% if (!isEmptyObject(inst.users.teachers)) { %>
                    </div>
                <% } %>
                </div>
                <% if (!isEmptyObject(inst.users.teachers)) { %>
                    <div class="fmt-row container fmt-padding fmt-margin fmt-center">
                        <br/>
                        <span class="heading">Otherwise</span>
                        <br/>
                        <div class="questrial">Generate an invitation link to share with teachers of <%= inst.default.institute.instituteName %>, and let them 
                            add their own schedule.
                        </div>
                        <br/>
                        <button class="active-button" id="inviteteacher">Invite Teachers</button>
                        <br/><br/>
                    </div>
                <% } %> 
            <% } %> 
        </div>
        <span class="fmt-bottom bottom-container fmt-right fmt-animate-opacity"
            id="todayDateTime" style="width:fit-content;right:0;">
        </span>
        
        <div id="dialogView" class="dialog fmt-animate-opacity">
            <div class="dialog-box container fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">
            </div>
        </div>
        <div id="snackBar" class="snack-positive fmt-animate-bottom">
            <span class="fmt-left fmt-padding" id="snackText"></span>
            <button class="fmt-right neutral-button" id="snackButton"></button>
        </div>
    </body>
    <noscript id="noscript" class="dialog fmt-red" style="display:block">
        <div class="dialog-box container fmt-center fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">
            <div class="heading">Javascript required</div><br/>
            <div class="group-text fmt-center">Please enable javascript in your browser, or allow this site to use, if denied.
                <br/>If your browser doesn't support javascript, try a <a target="_blank" rel="noreferrer" href="https://google.com/search?q=modern+browsers">modern browser</a>.
            </div>
        </div>
    </noscript>
</html>