<html>
    <head>
        <title>Invitation · Schemester</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/main.js"></script>
        <script src="/script/admin/invitation.js"></script>
    </head>
    <body>
        <div class="fmt-top fmt-shadow" id="topBar">
            <a href="/"><img src="/graphic/icons/schemester512.svg" width="40" alt="Schemester icon"></a>
            <span>Schemester · Invite</span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader" alt="Loader"/>
        </div>
        
        <div class="fmt-padding" style="margin-top: 72px;" id="invitebodyparent">

        <% if(invite.valid) { %> 
            <div class="container" id="userinvitationactive">
                <div class="heading fmt-row fmt-center">Invitation</div>
                <div class="questrial fmt-row">
                    <b><%= invite.adminName %></b> has invited you to join <b><%= invite.instname %></b> as a <%= invite.target %>.
                    Fill up your details, create a password, and join, if you are a
                    <%= invite.target %> at <b><%= invite.instname %></b> (code name: <b><%= invite.uiid %></b>).<br/><br/>
                    <center><span class="error-caption">This invitation will automatically expire on <b id="expireat"><%= invite.expireAt %></b>, exactly.</span></center>
                </div>
                
                <fieldset class="text-field fmt-row" id="usermailfield">
                    <legend class="field-caption" >Your email address</legend>
                    <input class="text-input" required spellcheck="false" autocomplete="email" placeholder="youremail@example.domain" type="email" id="usermail" name="useremail">
                    <span class="fmt-right error-caption" id="usermailerror"></span>
                </fieldset>
                <fieldset class="text-field fmt-row" id="userpassfield">
                    <legend class="field-caption" >Create your password</legend>
                    <input class="text-input" required autocomplete="new-password" placeholder="A strong password" type="password" id="userpass" name="userpassword">
                    <span class="fmt-right error-caption" id="userpasserror"></span>
                </fieldset>
                <fieldset class="text-field fmt-row" id="userpassconffield">
                    <legend class="field-caption" >Type again to confirm</legend>
                    <input class="text-input" required autocomplete="new-password" placeholder="Confirm password" type="password" id="userconfpass" name="confuserpassword">
                    <span class="fmt-right error-caption" id="userconfpasserror"></span>
                </fieldset>
                <br/>
                <div class="fmt-row">
                    <button class="active-button fmt-right" id="acceptInvitation">Accept & Join</button>
                    <button class="negative-button fmt-right" id="rejectInvitation">Reject Invitation</button>
                    <img class="fmt-spin-fast fmt-right" width="50" style="display:none" src="/graphic/blueLoader.svg" id="inviteloader"/>
                </div></div>`;
        <% } else { %>
            <div class="container" id="userinvitationexpired">
                <div class="heading fmt-center">Expired</div>
                <div class="group-text fmt-row">
                    The link that brought you here is no longer accepting invitations (<b>expired on <span id="expiredat"><%= invite.expireAt %></span></b>). If you think this was a mistake,
                    then request your admin a new invitation, by filling the details below.
                </div>
                <br/>
                <fieldset class="text-field fmt-row" id="requsermailfield">
                    <legend class="field-caption">Your email address</legend>
                    <input class="text-input" required spellcheck="false" autocomplete="email" placeholder="youremail@example.domain" type="email" id="requsermail" name="useremail">
                    <span class="fmt-right error-caption" id="requsermailerror"></span>
                </fieldset>
                <fieldset class="text-field fmt-row" id="usermessagefield">
                    <legend class="field-caption" >Message for Admin</legend>
                    <textarea class="text-input" placeholder="Any message for admin?(Optional)" rows="4" id="usermessage" name="usermessage"></textarea>
                    <span class="fmt-right error-caption" id="usermessageerror"></span>
                </fieldset>
                <br/>
                <div class="fmt-row">
                    <button class="active-button" id="requestInvitation">Request Invitation</button>
                    <img class="fmt-spin-fast" width="50" src="/graphic/blueLoader.svg" id="inviteloader"/>
                </div>
            </div>
        <% } %>
        </div>
        <span hidden>
            <span id="adminname"><%= invite.adminName %></span>
            <span id="adminemail"><%= invite.adminemail %></span>
            <span id="uiid"><%= invite.uiid %></span>
            <span id="target"><%= invite.target %></span>
            <span id="exp"><%= invite.expireAt %></span>
            <span id="instname"><%= invite.instname %></span>
        </span>
        <div id="dialogView" class="dialog fmt-animate-opacity">
            <div class="dialog-box container fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">            
            </div>
        </div>
        <div id="snackBar" class="snack-positive fmt-animate-bottom">
            <span class="fmt-left fmt-padding" id="snackText"></span>
            <button class="fmt-right neutral-button" id="snackButton"></button>
        </div>
    </body>
    <noscript id="noscript" class="dialog fmt-red" style="display:block">
        <div class="dialog-box container fmt-center fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">
            <div class="heading">Javascript required</div><br/>
            <div class="group-text fmt-center">Please enable javascript in your browser, or allow this site to use, if denied.
                <br/>If your browser doesn't support javascript, try a <a target="_blank" rel="noreferrer" href="https://google.com/search?q=modern+browsers">modern browser</a>.
            </div>
        </div>
    </noscript>
</html>
        