<html>
    <head>
        <title>Invitation · Schemester</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <script src="/script/main.js"></script>
        <script src="/script/admin/invitation.js"></script>
    </head>
    <body>
        <div class="fmt-top fmt-shadow" id="topBar">
            <a href="/"><img src="/graphic/icons/schemester512.svg" width="40" alt="Schemester icon"></a>
            <span>Schemester · Invite</span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader" alt="Loader"/>
        </div>
        
        <div class="fmt-padding" style="margin-top: 72px;" id="invitebodyparent">
        </div>
        <span hidden>
        <span id="active"><%= invite.active %></span>
        <span id="adminemail"><%= invite.adminEmail %></span>
        <span id="instname"><%= invite.instituteName %></span>
        <span id="adminname"><%= invite.adminName %></span>
        <span id="uiid"><%= invite.uiid %></span>
        <span id="target"><%= invite.target %></span>
        <span id="expirydate"><%= invite.exp %></span>
        </span>
        <div id="snackBar" class="snack-positive fmt-animate-bottom">
            <span class="fmt-left fmt-padding" id="snackText"></span>
            <button class="fmt-right neutral-button" id="snackButton"></button>
        </div>
    </body>
</html>
        