<html style="padding-bottom:40px">
    <head>
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/switch.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/teacher/fragment/about.js"></script>
        <script src="/script/teacher/teacher.js"></script>
    </head>
    <body>
        <div class="fmt-col fmt-padding">
            <div class="fmt-row  fmt-animate-right">
                <div class="fmt-col" style="width: 60%;">
                    <div class="sub-heading positive" style="margin-bottom: 0;padding-bottom: 0;">Details</div>
                    <div class="questrial caption" style="margin-top: 0;padding-top: 0;"><%= defaults.institute.instituteName %></div>
                </div>
                <div class="fmt-col" style="width:40%;margin-top: 12px;">
                    <img class="fmt-right" src="/graphic/icons/schemester512.svg" width="40" alt="<%= appname %> icon" id="backrootparent">
                </div>
            </div>
            <% if (teacher) { %>
                <div  class="fmt-col">
                    <div class="fmt-half fmt-padding-small">
                    <div class="fmt-row  tab-container b-neutral  fmt-animate-top">
                        <div class="fmt-row group-heading questrial">Account</div>
                        <div class="caption">Logged in as</div>
                        <div class="fmt-col fmt-threequarter">
                            <div class="fmt-row" id="teachernameview">
                                <span class=" positive questrial" id="teachername"><%= teacher.username %></span>
                                <span class="caption" style="font-size:12px" id="editteachername"><img width="20" src="/graphic/elements/editicon.svg"/></span>
                            </div>
                            <div id="teachernameeditor">
                                <fieldset class="text-field questrial" style="margin:0" id="teachernamefield">
                                    <legend class="field-caption questrial" id="teachernamefieldcaption">Change your name</legend>
                                    <input class="text-input questrial" style="font-size:16px" required value="<%= teacher.username %>" placeholder="Visible in <%=  %>" type="text" id="teachernamefieldinput" name="teachername" >
                                    <span class="fmt-right error-caption"  id="teachernamefielderror"></span>
                                </fieldset>
                                <button class="positive-button caption" id="saveteachername">Save</button>
                                <button class="neutral-button caption" id="cancelteachername">Cancel</button>
                            </div>
                            <div class="active questrial caption">
                                <%= teacher.id %>
                            </div>
                        </div>
                        <div class="fmt-col fmt-quarter ">
                            <button class="negative-button fmt-center wide" id="logout">Logout</button>
                        </div>
                    </div>

                    <div class="fmt-row tab-container b-neutral  fmt-animate-top" id="themetab">
                        <span class="group-text positive">Dark Mode</span>
                        <span class="fmt-right">
                            <label class="switch-container">
                                <input type="checkbox" id="darkmode">
                                <span class="switch-positive"></span>
                            </label>
                        </span>
                    </div>
                    <div class="fmt-row tab-container b-neutral  fmt-animate-top" id="hideclassroom">
                        <span class="group-text positive">Hide classroom</span>
                        <span class="fmt-right">
                            <label class="switch-container">
                                <input type="checkbox" id="hideclass">
                                <span class="switch-negative"></span>
                            </label>
                        </span>
                    </div>
                    <button class="tab-container positive-button" id="downloadschedule">Download Schedule Backup</button>
                    <div class="fmt-row tab-container b-neutral pointer  fmt-animate-top" id="resetemail">
                        Change email address <span class="fmt-right"><img width="20" src="/graphic/elements/editicon.svg"/></span>
                    </div>
                    <div class="fmt-row fmt-center tab-container b-neutral  fmt-animate-top">
                        <div class="fmt-col half ">
                            <button class="tab-container neutral-button" id="resetpass">Change password</button>
                        </div>
                        <div class="fmt-col half ">
                            <button class=" tab-container warning-button" id="forgotpass">Forgot password</button>
                        </div>
                    </div>
                    <div class="fmt-row tab-container b-neutral  fmt-animate-top">
                        <button class="fmt-row fmt-right negative-button questrial" id="deleteaccount">DELETE ACCOUNT</button>
                    </div>
                    </div>
                    <div class="fmt-half fmt-padding-small  fmt-animate-top">
                    <div class="fmt-row  tab-container b-neutral">
                        <div class="fmt-row group-heading questrial">Information</div>
                        <div class="caption">Institution</div>
                        <div class="group-text questrial"><%= defaults.institute.instituteName %></div>
                        <span class="group-text questrial positive pointer" onclick="mailTo('<%= defaults.institute.email %>')"><%= defaults.institute.email %></span>
                        <br/><span class="group-text questrial active pointer" onclick="callTo('<%= defaults.institute.phone %>')"><%= defaults.institute.phone %></span>
                    </div>
                    <div class="fmt-row  tab-container b-neutral">
                        <div class="caption">Admins</div>
                        <% defaults.admin.forEach(admin => { %>
                            <div class="fmt-row">
                            <span class="group-text questrial"><%= admin.username %></span>
                            <% if(admin.emailvisible) {%>
                                <a class="fmt-right" onclick="mailTo('<%= admin.email %>')"><img src="/graphic/elements/voicecallicon.svg" width="30"></a>
                            <% } %>
                            <% if(admin.phonevisible) {%>
                                <a class="fmt-right" onclick="callTo('<%= admin.phone %>')"><img src="/graphic/elements/voicecallicon.svg" width="30"></a>
                            <% } %>
                            </div>
                        <% }) %>
                    </div>
                    <% 
                        function getDaysArray(indices){
                            const days = Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday');
                            let indays = Array();
                            indices.forEach((index,i)=>{
                                if(i>0){
                                    indays.push(` ${days[Number(index)]}`);
                                } else {
                                    indays.push(days[Number(index)]);
                                }
                            });
                            return indays;
                        }
                        %> 
                    <div class="fmt-row  tab-container b-neutral">
                        <div class="caption">Timings</div>
                        <div class="group-text questrial">Everyday, schedule starts at <span class="active"><%= defaults.timings.startTime %></span>, 
                            break starts at <span class="active"><%= defaults.timings.breakStartTime %></span>, 
                        every period lasts <span class="active"><%= defaults.timings.periodMinutes %> minutes</span> and
                        break lasts for <span class="active"><%= defaults.timings.breakMinutes %> minutes</span>.<br/>
                        You have <span class="active"><%= defaults.timings.periodsInDay %></span> periods every working day, where
                        <span class="active"><%= getDaysArray(defaults.timings.daysInWeek) %></span> are your working days.</div>
                    </div>
                    </div>
                </div>
             <% } else { %>
                An error occurred
            <% } %>
        </div>

        <div id="dialogView"></div>
        <div id="snackBar"></div>

        <span hidden>
            <span id="acsrf"><%= acsrf %></span>
            <span id="teacherUID"><%= teacher.uid %></span>
            <span id="teacherID"><%= teacher.id %></span>
            <span id="teachername"><%= teacher.username %></span>
            <span id="createdAt"><%= teacher.createdAt %></span>
            <span id="vacations"><%= teacher.vacations %></span>
            <span id="prefs"><%= teacher.prefs %></span>
        </span>
    </body>
</html>