<html style="padding-bottom:20px">
    <head>
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/switch.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/teacher/fragment/classroom.js"></script>
        <script src="/script/teacher/teacher.js"></script>
        <script src="/script/qrcode.js"></script>
    </head>
    <body>
        <div class="fmt-col fmt-padding fmt-animate-top">
            <div class="fmt-row">
                <div class="fmt-col three-fifth">
                    <div class="sub-heading positive" style="margin-bottom: 0;padding-bottom: 0;">Class</div>
                    <% if(classroom){ %>
                        <div class="questrial caption" style="margin-top: 0;padding-top: 0;" id="inchargeOf">Classroom <%= classroom.classname %></div>
                    <% } %>
                </div>
                <div class="fmt-col two-fifth" style="margin: 12px 0;">
                    <span class="menu fmt-right">
                        <button class="positive-button-togg" id="setupbutton"><img width="25" src="/graphic/elements/menuicon.svg"/></button>
                        <div class="menubox" id="setup">
                            <section class="fmt-padding positive fmt-center">
                                Actions
                            </section>
                            <% if(classroom) {%>
                                <% if (!other) { %>
                                    <div class="fmt-center questrial" id="invitestudents">
                                        Invite students
                                    </div>
                                <% } %>
                                <div class="fmt-center questrial" id="chooseclass">
                                    Choose class
                                </div>
                            <% } %>
                        </div>
                    </span>
                    <span class="menu fmt-right">
                        <button class="neutral-button-togg" id="notificationbutton"><img src="/graphic/elements/bellicon.svg" width="25" /></button>
                        <div class="menubox" id="notifications">
                            <section class="fmt-padding positive fmt-center">
                                Notifications
                            </section>
                            <% var notifs = false %>
                            <% if(pseudostudents.length) {%>
                                <% notifs = true %>
                                <div class="fmt-center questrial" id="studentrequests">
                                    👩‍🎓 <span id="requestees"><%= pseudostudents.length %></span> pending requests.
                                </div>
                            <% } %>
                            <% if(!notifs) {%>
                                <section class="fmt-center group-text">
                                    Nothing here.
                                </sectionn>
                            <% } else {%>
                                <section class="fmt-center positive">
                                    <img src="/graphic/elements/todayicon.svg" width="20"/>
                                </sectionn>
                                <% } %>
                        </div>
                    </span>
                    <span class="menu fmt-right">
                        <button class="neutral-button-togg" id="chatbutton"><img width="25" src="/graphic/elements/chaticon.svg"/></button>
                    </span>
                </div>
            </div>
            <% if(classroom){ %>
                <div class="fmt-row" id="studentsview">
                    <br/>
                    <% if (other) { %>
                        <div class="group-text fmt-center">
                            <%= classroom.inchargeID?classroom.inchargename:'No incharge assigned' %>
                        </div>
                        <div class="group-text positive fmt-center">
                            <%= classroom.inchargeID?classroom.inchargeID:'' %>
                        </div>
                        <br/>
                    <% } %>
                    <% if(classroom.students.length){ %>
                        <div class="fmt-row" id="studentslist">
                            <input type="text" class="fmt-row dropdown-input fmt-padding-small wide" placeholder="Search among <%= classroom.students.length %> students" id="teacherSearch"/>
                            <br/><br/>
                            <% classroom.students.forEach((student,s) => {%>
                                <div class="fmt-row b-neutral fmt-half fmt-padding" style="margin:4px 0px" id="studentslate<%= s %>">
                                    <div class="fmt-col two-third group-text">
                                        <span class="" id="studentname<%= s %>"><%= student.username %></span><br/>
                                        <span class="positive questrial caption pointer" id="studentmail<%= s %>" onclick="mailTo('<%= student.id %>')"><%= student.studentID %></span><br/>
                                    </div>
                                    <div class="fmt-row caption">
                                        <% if (!other) { %>
                                            <span class="fmt-right pointer" id="removestudent<%= s %>"><img src="/graphic/elements/deleteicon.svg" width="30"></span>
                                        <% } %>
                                        <span class="fmt-right pointer" id="textstudent<%= s %>"><img src="/graphic/elements/chaticon.svg" width="30"></span>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    <% } else { %>
                        <div class="fmt-center group-text">
                            <br/><br/>
                            No students yet.
                            <br/><br/>
                            <% if (!other) { %>
                                <button class="active-button" id="invitestudents">Invite students</button>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <div class="fmt-row">
                    <div class="fmt-col fmt-quarter fmt-padding">
                    </div>
                    <div class="fmt-col fmt-half fmt-center container">
                        <div class="group-heading positive">No class holdable</div>
                        <br/>
                        <div class="questrial">
                            You don't hold any class.
                        </div>
                        <br/>
                        <div class="fmt-center">
                            <button class="negative-button" id="hidesection">Hide section</button><br/><br/>
                            <div class="fmt-center group-text">You can toggle classroom from <a onclick="parent.getelement('settingstab').click()">settings</a> too.</div>
                        </div>
                    </div>
                    <div class="fmt-col fmt-quarter fmt-padding">
                    </div>
                </div>
            <% } %>
        </div>
        <div id="dialogView"></div>
        <div id="snackBar"></div>
        <span hidden>
            <span id="acsrf"><%= acsrf %></span>
                <span id="other"><%= other %></span>
                <span id="otherclasses"><%= otherclasses %></span>
                <span id="hasclassroom"><%= classroom?true:false %></span>
            <% if(classroom) {%>
                <span id="classname"><%= classroom.classname %></span>
                <span id="totalstudents"><%= classroom.students.length %></span>
            <% } %>
        </span>
    </body>
</html>