<html>
    <head>
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/checkbox.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/teacher/fragment/fullweek.js"></script>
    </head>
    <% 
    let getDayName=(index = Number)=>{
        const weekdays = Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday')
        return weekdays[index];
    }
    let todayIndex=()=>{
        return ;
    }
    addNumberSuffixHTML = function(number = Number){
        var str = String(number)
         switch (number) {
          case 1: 
          return number + "st"
          case 2: 
          return number + "nd"
          case 3:
          return number + "rd"
          default:
            if (number > 9) {
                if (Number(str.charAt(str.length - 2)) == 1) {
                    return number + "th";
                } else {
                    return (str.substring(0,str.length-1) +addNumberSuffixHTML(Number(str.charAt(str.length - 1))))
                }
            } else {
                return number + "th";
            }
        }
    }
     %> 
    <body>
        <div class="fmt-col fmt-padding fmt-animate-top">
            <div class="fmt-row">
                <div class="fmt-col" style="width: 60%;">
                    <div class="sub-heading positive" style="margin-bottom: 0;padding-bottom: 0;">Schedule</div>
                    <div class="questrial caption" style="margin-top: 0;padding-top: 0;">Year <%= new Date().getFullYear() %></div>
                </div>
                <div class="fmt-col" style="width:40%;margin-top: 12px;">
                    <button class="fmt-right circle-button">
                        <img class="fmt-spin-fast" width="30" src="/graphic/blueLoader.svg"/><br/>
                    </button>
                </div>
            </div>
            <br/>
            <div>
            <% if (schedule && timings.daysInWeek.length) { %>
                <% for( let i = 0; i < schedule.length; i++ ) { %>
                        <div class="fmt-row tab-container b-neutral" style="color:var(--secondary-text);" id="dayBox<%= schedule[i].dayIndex %>">
                            <div class="fmt-row">
                                <div class="fmt-col three-fourth positive fmt-padding-small" style="font-size:28px">
                                <%= getDayName(schedule[i].dayIndex) %>
                                </div>
                                <div class="fmt-col fourth fmt-padding">
                                    <button class="fmt-right neutral-button" id="dayexpander<%= schedule[i].dayIndex %>">Show</button>
                                </div>
                            </div>
                            <div class="fmt-row "  id="periodsview<%= schedule[i].dayIndex %>">
                                <% for( let j = 0; j < schedule[i].period.length; j++ ) { %>
                                    <div class="fmt-row">
                                        <div class="fmt-col fmt-padding fourth active caption fmt-center" style="margin:12px 0px">
                                            <%= addNumberSuffixHTML(j+1) %> period
                                        </div>
                                        <div class="fmt-col fmt-center fmt-padding-small positive group-text half">
                                            <div class="fmt-row ">
                                                <%= schedule[i].period[j].classname %>
                                            </div>
                                            <div class="fmt-row fmt-center group-text">
                                                <%= schedule[i].period[j].subject %>
                                            </div>
                                        </div>
                                        <div class="fmt-col fmt-center fmt-padding fourth">
                                            ✒️
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                <% } %>
             <% } else { %>
                <div class="fmt-row">
                    <div class="fmt-col fmt-quarter fmt-padding">
                    </div>
                    <div class="fmt-col fmt-half fmt-center container">
                        <div class="group-heading positive">No schedule assigned</div>
                        <br/>
                        <div class="questrial">
                            Your administrator has not allowed any teacher to add their schedule. Wait for them to add your schedule.
                        </div>
                    </div>
                    <div class="fmt-col fmt-quarter fmt-padding">
                    </div>
                    <div class="fmt-center">
                        <button class="positive-button" id="seesettings">See settings</button>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <span hidden>
        <span id="schedule"><%= schedule %></span>
        <span id="timings"><%= timings %></span>
        <% if (timings) { %>
        <span id="startTime"><%= timings.startTime %></span>
        <span id="endTime"><%= timings.endTime %></span>
        <span id="breakTime"><%= timings.breakStartTime %></span>
        <span id="periodDuration"><%= timings.periodMinutes %></span>
        <span id="breakDuration"><%= timings.breakMinutes %></span>
        <span id="periodsInDay"><%= timings.periodsInDay %></span>
        <span id="daysInWeek"><%= timings.daysInWeek %></span>
        <% } %>
    </span>
    </body>
</html>
