<html>
    <head>
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/checkbox.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/teacher/fragment/today.js"></script>
    </head>
    <%
    addNumberSuffixHTML = function(number = Number){
        var str = String(number)
         switch (number) {
          case 1: 
          return number + "st"
          case 2: 
          return number + "nd"
          case 3:
          return number + "rd"
          default:
            if (number > 9) {
                if (Number(str.charAt(str.length - 2)) == 1) {
                    return number + "th";
                } else {
                    return (str.substring(0,str.length-1) +addNumberSuffixHTML(Number(str.charAt(str.length - 1))))
                }
            } else {
                return number + "th";
            }
        }
    }
     %> 
    <body>
        <div class="fmt-col fmt-padding fmt-animate-left">
            <div class="fmt-row">
                <div class="fmt-col three-fifth">
                    <div class="sub-heading positive" style="margin-bottom: 0;padding-bottom: 0;">Today</div>
                    <div class="questrial caption" style="margin-top: 0;padding-top: 0;" id="simpledate"></div>
                </div>
                <div class="fmt-col two-fifth" style="margin: 12px 0;">
                    <button class="fmt-right circle-button" id="todayOptions">
                        <img width="30" src="/graphic/blueLoader.svg"/>
                    </button>
                </div>
            </div>
            <br/>
            <% if (today && timings) { %>
                <div class="fmt-row">
                    <% for( let i = 0; i < today.length; i++ ) { %>
                        <div class="fmt-row tab-container b-neutral" id="periodview<%= i %>" style="color:var(--secondary-text)">
                            <div class="fmt-col three-fourth " style="font-size:24px">
                                <%= addNumberSuffixHTML(i+1) %>
                                <span id="durationdisplay"></span>
                            </div>
                            <div class="fmt-col fourth">
                                <span class="fmt-right" id="showactions<%= i %>">✒️</span>
                            </div>
                            <div class="fmt-row">
                                <div class="fmt-col third fmt-padding fmt-center" style="margin:12px 0" id="timing<%= i %>">
                                </div>
                                <div class="fmt-col two-third fmt-center">
                                    <div class="fmt-row" id="classname<%= i %>"><%= today[i].classname %></div>
                                    <div class="fmt-row" id="subject<%= i %>"><%= today[i].subject %></div>
                                </div>
                            </div>
                            <div class="fmt-row fmt-right" id="action<%= i %>">
                                <br/>
                                <button class="positive-button" id="present<%= i %>">Present</button>
                                <button class="negative-button" id="absent<%= i %>">Absent</button>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <div class="fmt-row">
                    <div class="fmt-col fmt-quarter fmt-padding">
                    </div>
                    <div class="fmt-col fmt-half fmt-center container">
                        <div class="group-heading positive">No schedule assigned</div>
                        <br/>
                        <div class="questrial">
                            No schedule was found for you today.
                        </div>
                    </div>
                    <div class="fmt-col fmt-quarter fmt-padding">
                    </div>
                    <div class="fmt-center">
                        <button class="positive-button" id="weekschedule">See weekly</button>
                    </div>
                </div>
            <% } %>
        </div>

        <div id="dialogView" class="dialog fmt-animate-opacity">
            <div class="dialog-box container fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">            
                
            </div>
            <br/>
            <div class="fmt-center fmt-row fmt-padding">
                <span class="neutral-button">Save</span>
                <span class="negative-button" id="discard">Discard</span>
            </div>
        </div>
        
        <span hidden>
            <span id="today"><%= today %></span>
            <span id="timings"><%= timings %></span>
            <% if (timings) { %>
                <span id="startTime"><%= timings.startTime %></span>
                <span id="endTime"><%= timings.endTime %></span>
                <span id="breakTime"><%= timings.breakStartTime %></span>
                <span id="periodDuration"><%= timings.periodMinutes %></span>
                <span id="breakDuration"><%= timings.breakMinutes %></span>
                <span id="periodsInDay"><%= timings.periodsInDay %></span>
                <span id="daysInWeek"><%= timings.daysInWeek %></span>
            <% } %>
            <% if(today){ %>
                <% for( let i = 0; i < today.length; i++ ) { %>
                    <span id="hold<%= i %>"><%= today[i].hold %></span>
                <% } %>
            <% } %>
        </span>
    </body>
</html>